{% raw %}{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% block content %}
<div class="row">
 <div class="large-9 medium-8 columns" role="content">
     {% block contact_content %}{% endblock %}
</div>
<aside class="large-3 medium-4 columns sidebar">
     {% block sidebar %}
     <center><h4> Find Us </h4></center>
     <hr>
     {% load settings_tags %}
    {% get_google_maps_key as google_maps_key %}
    {% get_dynamic_map_url as dyn_map_url %}
    {% get_static_map_url as static_map_url %}
    {% if google_maps_key %}
    <a href="{{ dyn_map_url }}" target="_blank">
        <img src="{{ static_map_url }}&key={{ google_maps_key }}"
        alt="contact.name_organization">
    </a> 
    {% endif %}
    <center><h4> Contact Us </h4></center>
    <hr>
    {% include "contact/includes/contact_card.html"  with contact=self only%}
     {% endblock %}
    
</aside>
</div>
{% endblock %}{% endraw %}
