{% raw %}{% extends "base.html" %}
{% load static %}

{% block body_class %}template-{{ page.get_verbose_name|slugify }}{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/joyous/joyous.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/joyous/joyous_coast_theme.css' %}">
{% endblock %}

<div id="content" class="grid-container">
  {% block content %}{% endblock %}
</div>

{% block extra_js %}
  <script type="text/javascript" src="{% static 'js/joyous/calendar.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/joyous/minicalendar.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/joyous/gulpfile.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/joyous/recurrence_admin.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/joyous/time12hr_admin.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/joyous/vendor/moment-2.22.0.min.js' %}"></script>
{% endblock %}{% endraw %}
