{% raw %}{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
	<div id="content" class="grid-container">
		<div class="grid-x grid-padding-x centered">
			<div class="medium-9 cell">
				<center><h3>{{ self.title }}</h3></center>
				<div class="grid-x grid-padding-x">
		        	<div class="medium-7 cell">
		        		{% block contact_content %}{% endblock %}
		    		</div>
		    		<aside id="sidebar" class="hide-for-print hide-for-small-only medium-5 cell">
		    			{% include "contact/includes/sidebar.html" %}
		    		</aside>
		    	</div>
	    	</div>
	    </div>
	</div>
{% endblock %}{% endraw %}