{% raw %}{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% block content %}
<div id="content" class="row">
    <div class="medium-8 medium-centered columns">
        <center><h4><strong>{{ self.title }}</strong></h4></center>
        
        <br>
               
        <div class="row">
            <div class="medium-7 columns">
                {% block contact_content %}{% endblock %}
            </div>
            <aside id="sidebar" class="hide-for-small-only medium-5 columns">
                 {% block sidebar %}
                     {% include "contact/includes/sidebar.html" %} 
                 {% endblock %}
            </aside>
        </div>
    </div>
</div>
{% endblock %}{% endraw %}