{% raw %}{% extends "contact/contact_base.html" %}
{% load wagtailcore_tags foundation_formtags %}

{% block contact_content %}
         <div class="card" style="border-radius: 10px;">
             <div class="info form-panel">
                 <form class="contact-form" action="{% pageurl self %}" method="POST">
                     {% csrf_token %}
                     {{ form|as_foundation }}
                     <input class="button radius float-right" name="Send" type="submit" value="Send" style="border-radius: 5px;">
                     <br>
                     <br>
                 </form>
             </div>
         </div>
{% endblock %}{% endraw %}