{% raw %}{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% load static {% endraw %}{{ cookiecutter.repo_name }}{% raw %}_utils %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
    <div class="intro">
        <div class="row text-center">
          <div class="large-12 columns">
            <h1>{{ self.title }}</h1>
            {{ self.body|richtext }}
        {% include "pages/includes/bx_carousel.html" with carousel_items=self.carousel_items.all only  %}
          </div>
        </div>
    </div>

	<div class="section">
        <div id="icons" class="row">
        <ul class="medium-block-grid-3 small-block-grid-2">
            {% for block in self.content_items.all %}
            <li class="icon">
                <a href="{{ block.link }}" target="_blank">
                 {% if block.image %}
                    {% image block.image fill-60x60 %}
                 {% endif %}
                 <h4>{{ block.title}}</h4>
                 {{ block.content|richtext }}
                </a>
            </li>
           {% endfor %}
        </ul>
        </div>
	</div>

{% endblock %}
{% endraw %}
