{% raw %}{% extends "documents_gallery/base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}{{ self.get_verbose_name|slugify }}{% endblock %}


{% block content %}
    <div id="content" class="row">
        <div class="medium-12 columns">
            <center><h4>{{ self.title }}</h4></center>
            {% if self.tags %}
                {% include "documents_gallery/includes/tags.html" %}
            {% endif %}
            
            <br>
            
            {% if documents %}
                <div class="medium-up-3 small-up-1" id="documents">
                    {% for document in documents %}
                        <div class="column">
                            <a href="{{ document.url }}">
                                <div class="card info text-center" style="border-radius: 5px;">
                                	<br>
                                    {% if document.file_extension == 'pdf' %}
                                        <i class="fa fa-file-pdf-o fa-3x"></i>
                                    {% elif document.file_extension == 'docx' or 'doc' %}
                                        <i class="fa fa-file-word-o fa-3x"></i>
                                    {% else %}
                                        <i class="fa fa-file fa-3x"></i>
                                    {% endif %}
                                    <div class="info">
                                    	<h6 style="margin-bottom: 0;"><strong>{{ document.filename}}</strong></h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>No documents are tagged with your {{ self.title }} gallery or no {{ self.title }} tags defined.</p>
            {% endif %}        
        </div>
        
        <br>
        
        <div class="medium-12 columns">    
            <ul class="pagination text-center" role="navigation" aria-label="Pagination">
                  {% if documents.has_previous %}
                      <li class="pagination-previous">
                          <a href="?page={{ documents.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}" aria-label="Previous page">Previous</a></li>
                      {% else %} 
                      <li class="pagination-previous disabled">Previous</li>
                  {% endif %}
                  <li class="unavailable">Page {{ documents.number }} of {{ documents.paginator.num_pages }}</li>
                  {% if documents.has_next %}
                      <li class="pagination-next">
                          <a href="?page={{ documents.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}" aria-label="Next page">Next</a></li>
                      {% else %}
                      <li class="pagination-next disabled">Next</li>
                  {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}{% endraw %}