{% raw %}{% extends "documents_gallery/base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}{{ self.get_verbose_name|slugify }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/zf/dt-1.10.12/r-2.1.0/datatables.min.css"/>
{% endblock %}

{% block content %}
<div id="content" class="row">
  <div class="medium-12 columns">
    <center><h3>{{ self.title }}</h3></center>

    <div class="medium-9 medium-centered columns">
     <hr>
     {% if documents %}
     <table id="document-table">
       <thead>
        <tr>
         <th>Name</th>
         <th>Date added</th>
         <th>Download</th>
       </tr>
     </thead>

     <tbody>
      {% for document in documents %}
      <tr>
       <td>
         {{ document.title }}
       </td>
       <td>
         {{ document.created_at|date:"Y/m/d" }}
       </td>
       <td class="text-center">
         <a href="{{ document.url }}">
          <i class="fab fa-download"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}
<p>No documents are tagged with your {{ self.title }} gallery or no {{ self.title }} tags defined.</p>
{% endif %}
</div>
</div>
</div>

{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="https://cdn.datatables.net/v/zf/dt-1.10.12/r-2.1.0/datatables.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('#document-table').DataTable({
      "pageLength": 15,
      responsive: true
    });
  });
</script>
{% endblock %}{% endraw %}
