{% raw %}{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
	<div id="content" class="grid-container">
		<div class="grid-x grid-padding-x align-center">
			<div class="medium-12 cell">
		    	<center>
		    		<h3>{{ self.title }}</h3>
		      		{{ self.intro|richtext }}
		    	</center>

		    	{% if pages|length %}
		    		<div id="documents-index" class="product grid-x grid-padding-x medium-up-3" data-equalizer>
		        		{% for page in pages %}
		        			<div class="cell text-center" data-equalizer-watch>
		          				<a href="{{ page.url }}">
		           					<div class="card text-center">
		             					<div class="card-section" style="padding: 30px;">
		              						<i class="fa fa-file fa-4x" style="margin-bottom: 10px;"></i>
		                					<h6 style="margin-bottom: 0;"><strong>{{ page.title }}</strong></h6>
		            					</div>
		          					</div>
		        				</a>
		      				</div>
		      			{% endfor %}
		    		</div>
		  		{% else %}
		  			<p>Whoops, we don't have any document galleries that match right now.</p>
		  		{% endif %}
		  	</div>
		</div>
	</div>
{% endblock %}{% endraw %}
