{% raw %}{% extends "products/product_base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
	<div id="content" class="grid-container">
		<div class="grid-x grid-padding-x align-center">
			<div class="medium-12 cell">
				<center>
					<h3>{{ self.title }}</h3>
					{{ self.intro|richtext }}
				</center>
			</div>
		    
	  		<div class="product grid-x grid-padding-x medium-up-3" data-equalizer>
	      		{% for product in products %}
	          		<div class="cell">
	              		<a href="{% pageurl product %}">                   
	                  		<div class="card-user-profile card text-center" style="border-radius: 3px;">
	                    		{% image product.image fill-500x250 %}
	                    		<div class="card-user-profile-content card-section" style="padding: 0;">
	                          		<p class="card-user-profile-name" style="margin-bottom: 0;">{{ product.title }}</p>
	                    		</div>
	                    		<div class="card-user-profile-actions">
	                      			<a href="{% pageurl product %}" class="card-user-profile-button button hollow secondary" style="border-radius: 3px;">More Info</a>
	                    		</div>
	                  		</div>
	              		</a>            
	          		</div>
	      		{% endfor %}
	  		</div>
  
	  		{% if products.has_other_pages %}
	  			<div class="medium-12 cell hide-for-print">
	    			<ul class="pagination text-center" role="navigation" aria-label="Pagination">
	      				{% if products.has_previous %}
	      					<li class="pagination-previous">
	        					<a href="?page={{ products.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}" aria-label="Previous page">Previous</a>
	        				</li>
	        			{% else %}
	      					<li class="pagination-previous disabled">Previous</li>
	      				{% endif %}
	      				
	      				<li class="unavailable">Page {{ products.number }} of {{ products.paginator.num_pages }}</li>
	      
	      				{% if products.has_next %}
	      					<li class="pagination-next">
	        					<a href="?page={{ products.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}" aria-label="Next page">Next</a>
	        				</li>
	        			{% else %}
	      					<li class="pagination-next disabled">Next</li>
	      				{% endif %}
	    			</ul>
	  			</div>
	  		{% endif %}
	  	</div>
	</div>
{% endblock %}{% endraw %}