*.pyc
.DS_Store
*.swp
/venv/
/static/
/media/
/.vagrant/
ansible/.vagrant/
/Vagrantfile.local
/docs/_build/
node_modules
ansible/{{ cookiecutter.repo_name }}_keystore/*
ansible/group_vars/*
ansible/host_vars/*
.env
env.example
pages/static/libs
