#PostgreSQL
PROD_DATABASE_URL=psql://{{cookiecutter.database_user_name}}:change_db_password!!!@127.0.0.1:5432/{{cookiecutter.project_slug}}_db

#General Settings
DJANGO_DEBUG=on
DJANGO_ALLOWED_HOST_NAME={{cookiecutter.production_host_name}}
DJANGO_SECRET_KEY=change_django_secret_key!!!


#EMAIL 
EMAIL_HOST='email_host'
EMAIL_FROM='support@chrisdev.com'
EMAIL_USER='email_user'
EMAIL_PASSWD='email_passwd'
