{% raw %}{% load wagtailcore_tags wagtailimages_tags %}
<div class="column event-list text-center" data-equalizer-watch>
    <div class="callout">
        <a href="{% pageurl event %}">
            {% if event.search_description or event.feed_image %}
                    {% if event.feed_image %}
                        {% image event.feed_image height-140 %}
                    {% endif %}
                    {% if event.search_description %}
                        {{ event.search_description }}
                    {% endif %}
            {% endif %}
            <h5>{{ event.title }}</h5>
            <h6 style="font-size: 15px;">{{ event.location }}</h6>
            <h6 class="subheader" style="font-size: 14px;">{{ event.date_from|date:"j F Y" }}{% if event.date_to %} to {{ event.date_to|date:"j F Y" }}{% endif %}</h6>       
        </a>
    </div>
</div>
{% endraw %}