{% raw %}{% load wagtailcore_tags %}
    <div id="event_feed">
        {% for event in events %}
        <div class="event">
            <a href="{% pageurl event %}">
                <div style="text-align: center;">
                        <h6>{{ event.date_from|date:"d" }} {{ event.date_from|date:"F" }}</h6>
                        <h5>{{ event.title }}</h5>
                        <h6><strong>{{ event.location }}</strong></h6>
                </div>
            </a>
        </div>
         {% endfor %}
    </div>{% endraw %}