{% raw %}
{% load wagtailcore_tags wagtailimages_tags %}

<br>
        
{% if request.GET.tag|length %}
    <h3>Events tagged with <strong>{{ request.GET.tag|safe }}</strong></h3>
    <h6><a href=" {% pageurl self %} "><strong>Show all events</strong></a></h6>
        
{% else %}

    <ul class="tag-names">
        <strong>Filter by Tags :</strong>
        {% for tag in tags.all %}
            <li>
            <a href="{{ request.path }}?tag={{ tag }}" title="">
            <i class="fa fa-tag"></i> {{ tag }}</a>
            </li>
        {% endfor %}
    </ul>
         
{% endif %}{% endraw %}