*.pyc
*.swp
*.scss~

.DS_Store
.vagrant
.cache/*
.ropeproject/*
/venv/
/static/
/media/
/Vagrantfile.local

settings/local.py
static/CACHE/*
docs/_build/
db.sqlite3

ansible/group_vars/*
ansible/host_vars/*

.env
