.gallery-thumb
{
  margin: 50px 0;
  text-align: center;
  a
  {
    margin: 0 30px;
  }

  h5
  {
    text-align: center;
  }
}

#documents-index
{
    text-align: center;
    margin-top: 50px;
}

.documents-page 
{
  strong
  {
    color: #555;
  }

  #documents
  {
      text-align: center;
      margin-top: 50px;
  }

  p
  {
      margin-bottom: 0.25rem;
  }

  .tag-names li
  {
    background: #43b1b0;
    border-radius: 2px;
    color: #fff;
    padding: 5px;
    display:inline;
    margin: 0px 3px;
  }
}