{% raw %}<ul class="h-card vcard list-style" style="margin-left: 0;">
<li class="p-name fn org"><strong>{{ contact.name_organization }}</strong></li>
{% if contact.address_1 %}
<li class="p-street-address street-address">{{ contact.address_1 }}</li>
{% endif %}

{% if contact.address_2 %}
<li class="p-street-address street-address">{{ contact.address_2 }}</li>
{% endif %}

{% if contact.city %}
<li class="p-locallity locality">{{ contact.city }}</li>
{% endif %}
{% if contact.state %}
<li class="p-region region">{{ contact.city }}</li>
{% endif %}

{% if contact.country %}
<li class="p-country-name country-name">{{ contact.country }}</li>
{% endif %}

{% if contact.telephone %}
<li class="p-tel tel">
    <i class="fa fa-phone"></i>&nbsp;
    {{ contact.telephone }}
</li>
{% endif %}
{% if contact.email %}
<li class="p-email email">
    <i class="fa fa-envelope"></i>
    <a href="mailto:{{ email.email }}">{{ contact.email }}</a>
</li>
{% endif %}
</ul>{% endraw %}
