{% raw %}{% if settings.pages.SocialMediaSettings.facebook %}
	<a href="{{ settings.pages.SocialMediaSettings.facebook }}" target="_blank"><i class="fab fa-facebook-f"></i></a>
{% endif %}
{% if settings.pages.SocialMediaSettings.twitter %}
	<a href="{{ settings.pages.SocialMediaSettings.twitter }}" target="_blank"><i class="fab fa-twitter"></i></a>
{% endif %}
{% if settings.pages.SocialMediaSettings.instagram %}
	<a href="{{ settings.pages.SocialMediaSettings.instagram }}" target="_blank"><i class="fab fa-instagram"></i></a>
{% endif %}
{% if settings.pages.SocialMediaSettings.linkedin %}
	<a href="{{ settings.pages.SocialMediaSettings.linkedin }}" target="_blank"><i class="fab fa-linkedin-in"></i></a>
{% endif %}
{% if settings.pages.SocialMediaSettings.github %}
	<a href="{{ settings.pages.SocialMediaSettings.github }}" target="_blank"><i class="fab fa-github"></i></a>
{% endif %}
{% if settings.pages.SocialMediaSettings.youtube %}
	<a href="{{ settings.pages.SocialMediaSettings.youtube }}" target="_blank"><i class="fab fa-youtube"></i></a>
{% endif %}{% endraw %}