{% raw %}{% extends "account/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block user_title %}
  <h3>{% trans "Sign Up" %}</h3>
  <h6>{% blocktrans %}As a final step, please complete the following form{% endblocktrans %}</h6>
{% endblock %}

{% block inner %}
    <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="button medium" type="submit">{% trans "Sign Up" %} &raquo;</button>
    </form>
{% endblock %}{% endraw %}
