{% raw %}{% extends "base.html" %}

{% block title %}Page Cannot Be Found{% endblock %}

{% block content %}
    <div class="row">
        <div class="medium-8 medium-centered columns pad" style="text-align: center;">
            <h3>Page Not Found</h3>
            <div class="medium-4 medium-centered columns">
        	    <img src="{{STATIC_URL}}img/404.png" style="margin-bottom: 30px;">
            </div>
            <h4>Sorry we cannot find the page you are looking for.</h4>
            <h4>Click <a href="/" style="color: #08C;">here</a> to return</h4>
        </div>
    </div>
{% endblock %}

{% endraw %}
