{% raw %}{% load compress static wagtailuserbar navigation_tags %}
{% load {% endraw %}{{ cookiecutter.repo_name }}{% raw %}_utils %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}"/>
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Source+Code+Pro:400,700" rel="stylesheet" type="text/css">
        {% compress css %}
            <link rel="stylesheet" type="text/x-scss" href="{% static 'css/app.scss' %}">
        {% endcompress %}

        {% compress js %}
            <script src="{% static 'libs/modernizr/modernizr.js' %}"></script>
        {% endcompress %}

        {% block extra_css %}
            <link rel="stylesheet" type="text/css" href="{% static 'libs/bxslider-4/dist/jquery.bxslider.min.css' %}">
            <link rel="stylesheet" href="{% static 'libs/font-awesome/css/font-awesome.min.css' %}">
        {% endblock %}
        {% include "utils/includes/facebook_opengraph.html" %}
        {% include "utils/includes/twitter_cards.html" %}
        {% include "utils/includes/google_analytics.html" %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        {% get_site_root as site_root %}
        {% top_menu parent=site_root calling_page=self %}
        {% breadcrumbs %}
        {% block content %}{% endblock %}

        <footer>
            <div class="sitemap">
                <div class="row">
                  <div class="large-4 columns">
                    <div class="headline">
                      <h4>Explore Our Site</h4>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="large-12 columns">
                        {% site_menu parent=site_root calling_page=self %}
                    </div>
                </div>
            </div>
            <div class="contact-us">
                <div class="row">
                    <div class="large-4 columns">
                        <h5 class="contact-head">Contact Us</h5>
                        {% get_contact_fields as contact %}
                        {% include "contact/includes/contact_card.html" with contact=contact only %}
                    </div>
                    <div class="large-4 columns text-center">
                        <h5 class="contact-head">Follow Us</h5>
                        <a href="https://github.com/chrisdev" target="_blank"><i class="fa fa-github-square fa-2x"></i></a>
                        <a href="https://twitter.com/realchrisdev" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
                    </div>
                    <div class="large-4 columns text-center">
                        <h5 class="contact-head">Find Us</h5>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3920.9758279670727!2d-61.391602!3d10.658984000000002!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c3600ebfcf1667d%3A0x68891085216fb5e6!2sChrisDev!5e0!3m2!1sen!2s!4v1399313047235" width="100%" height="150" frameborder="0" style="border:0"></iframe>
                    </div>
                </div>
            </div>
        </footer>

        {% compress js %}
            <script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
            <script src="{% static 'libs/foundation/js/foundation.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
            <script src="{% static 'libs/bxslider-4/dist/jquery.bxslider.min.js' %}"></script>
        {% endcompress %}

        {% block extra_js %}
        <script>
          $(document).foundation();
          $(document).ready(function(){
              $('.bxslider').bxSlider();
            });
        </script>
        {% endblock %}
    </body>
</html>
{% endraw %}
