{% raw %}{% if request.user.is_authenticated %}
<li class="is-dropdown-submenu-parent">
  <a href="#">
    <i class="fa fa-user"></i> &nbsp;{{ request.user.username }}
  </a>
  <ul class="menu vertical">
    <li>
      <a href="{% url 'users:detail' %}"><i class="fa fa-id-card"></i> Dashboard</a>
    </li>
    <li>
      <a href="{% url 'users:update' %}"><i class="fa fa-pencil-alt"></i> Edit Profile</a>
    </li>
    <li>
      <a href="{% url 'account_email' %}"><i class="fa fa-envelope"></i> Email Settings</a>
    <li>
    <li>
      <a href="{% url 'account_change_password' %}"><i class="fa fa-key"></i> Change Passsword</a>
    <li>
    {% if request.user.is_superuser %}
    <li>
      <a href="/admin"><i class="fa fa-user"></i> Admin</a>
    </li>
    {% endif %}
    <li>
      <hr style="margin:0">
      <a href="{% url 'account_logout' %}"><i class="fa fa-sign-out-alt"></i> {% trans "Sign out" %}</a>
    </li>
  </ul>
</li>
{% else %}
<li>
  <a id="sign-up-link" href="{% url 'account_signup' %}">
    <i class="fa fa-edit"></i> {% trans "Sign Up" %}
  </a>
</li>
<li>
  <a id="log-in-link" href="{% url 'account_login' %}">
    <i class="fa fa-sign-in-alt"></i> {% trans "Login" %}
  </a>
</li>
{% endif %}{% endraw %}
