{% raw %}{% load wagtailcore_tags %}

<div class="row">
    <div class="medium-12 medium-centered columns">
    {% if ancestors %}
      <nav aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs">
          <li><a href="/"> Home</a></li>
        {% for ancestor in ancestors %}
          {% if forloop.last %}
            <li class="current">{{ ancestor }}</li>
          {% else %}
            <li><a href="{% pageurl ancestor %}">{{ ancestor }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
      </nav>
      {% endif %}
    </div>
</div>{% endraw %}