{% raw %}{% load wagtailcore_tags %}
{% if pages %}
<div class="row">
  <div class="medium-12 columns">
    <div id="side_menu" class="card" style="padding-bottom: 15px;">
      <center><h6 class="title" style="font-variant: small-caps;"><strong>Also In This Section</strong></h6></center>
      <ul class="menu vertical">
        {% for page in pages %}
        <li style="font-size: 14px;"><a href="{% pageurl page %}"><strong>{{ page.title }}</strong></a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endif %}{% endraw %}
