{% raw %}{% load wagtailcore_tags navigation_tags i18n wagtailsettings_tags static %}
{% get_settings %}
{% get_site_root as site_root %}

<div class="hide-for-print" data-sticky-container>
<div data-sticky data-options="marginTop:0;" style="width:100%;z-index:10000;">

	<div id="social_bar">
  		<div class="grid-container" style="max-width: 100%;">
    		{% include "contact/includes/social.html" %}
				{% comment %}
				{% include "utils/tags/navigation/account.html" %}
				{% endcomment %}
  		</div>
	</div>

	<div class="title-bar" data-responsive-toggle="menu" data-hide-for="large">
  		<button class="menu-icon" type="button" style="background: transparent;"data-toggle></button>
  		<div class="title-bar-title"><a href="{% pageurl site_root %}">Wagtail</a></div>
	</div>

    <div class="top-bar" id="menu">
      	<div class="top-bar-left hide-for-small-only">
        	<ul class="dropdown menu">
          		<li class="menu-text"><a href="{% pageurl site_root %}" style="padding: 0;">ChrisDev Wagtail</a></li>
        	</ul>
      	</div>
      	<div class="top-bar-right">
        	<ul class="vertical medium-horizontal menu" data-responsive-menu="drilldown medium-dropdown">
          		<li class="{% if calling_page.url == site_root %} is-active{% endif %}"><a href="{% pageurl site_root %}">Home</a></li>
          		{% for menuitem in menuitems %}
          			<li class="{% if menuitem.show_dropdown %}has-submenu{% endif %}">
            			<a href="{% pageurl menuitem %}">{{ menuitem.title }}</a>
            				{% if menuitem.show_dropdown %}
            					<ul class="submenu menu vertical" data-submenu>
            						<li class="show-for-small-only">
            							<a href="{% pageurl menuitem %}">{{ menuitem.title }}</a>
            						</li>
              						{% top_menu_children parent=menuitem %}
            					</ul>
            				{% endif %}
            		</li>
            	{% endfor %}
          		<li class="has-form show-for-small-only" style="background: transparent;">
            		<form action ="{% url 'search' %}" method="get">
              			<div class="row collapse">
                			<div class="small-8 columns">
                  				<input class="field" type="text" placeholder="Search" name="q"{% if query_string %} value="{{ query_string }}"{% endif %}>
                			</div>
                			<div class="small-4 columns">
                  				<input type="submit" class="button expand" value="Search">
                			</div>
              			</div>
            		</form>
          		</li>
        	</ul>
      	</div>
    </div>

</div>
</div>{% endraw %}
