{% raw %}{% load wagtailcore_tags wagtailimages_tags %}
<div class="column event-list text-center" data-equalizer-watch>
    <a href="{% pageurl event %}">
        {% if event.feed_image %}
            {% image event.feed_image fill-1200x630 %}
        {% endif %}
        <div class="callout" style="padding: 8px;">
            <h5>{{ event.title }}</h5>
            <h6 style="font-size: 15px;">{{ event.location }}</h6>
            <h6 class="subheader" style="font-size: 14px;">{{ event.date_from|date:"j F Y" }}{% if event.date_to %} to {{ event.date_to|date:"j F Y" }}{% endif %}</h6>
        </div>       
    </a>
</div>{% endraw %}