{% raw %}{% load wagtailcore_tags wagtailimages_tags %}
<div class="column">
    <a href="{% pageurl event %}">
    	<div class="card" data-equalizer-watch>
	        {% if event.feed_image %}
	            {% image event.feed_image fill-1200x600 %}
	        {% endif %}
        	
        	<div class="info">
	            <li><i class="fa fa-clock-o" aria-hidden="true"></i> {{ event.date_from|date:"j F" }} {% if event.time_from %}- {{ event.time_from }}{% endif %}</li>
	                        
	            <h6>{{ event.title }}</h6>
	            
	            {% if event.location %}
	                <li><i class="fa fa-map-marker" aria-hidden="true"></i> {{ event.location }}</li>
	            {% endif %}
	        </div>
        </div>       
    </a>
</div>{% endraw %}