{% raw %}{% load wagtailcore_tags wagtailimages_tags %}

<div class="medium-12 cell">
{% if request.GET.tag|length %}
	<h3>Events tagged with <strong>{{ request.GET.tag|safe }}</strong></h3>
	<h6><a href=" {% pageurl self %} "><strong>Show all events</strong></a></h6>
{% else %}
	<section class="tag-cloud-section">
		<div class="tag-cloud">
	  		{% for tag in tags.all %}
	    		<a class="tag-cloud-individual-tag" href="{{ request.path }}?tag={{ tag }}"><i class="fa fa-tag" aria-hidden="true"></i> {{ tag }}</a>
	    	{% endfor %}
		</div>
	</section>
{% endif %}
</div>{% endraw %}