{% raw %}{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags gallery_tags %}

{% block content %}
	<div id="content" class="grid-container">
		<div class="grid-x grid-padding-x align-center">
			<div class="medium-12 cell">
		    	<center>
		    		<h3>{{ self.title }}</h3>
		      		{{ self.intro|richtext }}
		    	</center>
		    </div>
		    
		    {% include 'gallery/gallery.html' %}
		    
		    <div class="medium-12 cell">
		    	{% if gallery_images.has_other_pages %}
	    			<div class="medium-12 cell hide-for-print">
	    				<ul class="pagination text-center" role="navigation" aria-label="Pagination">
	    					{% if gallery_images.has_previous %}
	    						<li class="pagination-previous">
	    	  					<a href="?page={{ gallery_images.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}" aria-label="Previous page">Previous</a>
	    	  				</li>
	    	  			{% else %}
	    						<li class="pagination-previous disabled">Previous</li>
	    					{% endif %}
	    					
	    					<li class="unavailable">Page {{ gallery_images.number }} of {{ gallery_images.paginator.num_pages }}</li>
	    	
	    					{% if gallery_images.has_next %}
	    						<li class="pagination-next">
	    	  					<a href="?page={{ gallery_images.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}" aria-label="Next page">Next</a>
	    	  				</li>
	    	  			{% else %}
	    						<li class="pagination-next disabled">Next</li>
	    					{% endif %}
	    				</ul>
	    			</div>
	    		{% endif %}
		    </div>
		</div>
	</div>
{% endblock %}{% endraw %}