@charset 'utf-8';

@import 'css/settings';
@import 'libs/foundation-sites/scss/foundation';
@import 'css/building-blocks';
@import 'css/print';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-flex-classes;
// @include foundation-prototype-classes;


// Colors

$primary: map-get($foundation-palette, primary);
$secondary: map-get($foundation-palette, secondary);
$primary-dark: #303F9F;
$off-white : #F8F8FA;
$emperor: #777777;
$dark-metal: #222222;
$static: static;


// Responsive image/video classes
.rich-text img {
  max-width: 100%;
  height: auto;
}
.responsive-object {
  position: relative;
}
.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

$body-font-color: $emperor;

body {background: $white;}
.pad {padding: 20px 0;}
a {color: $primary;}
a:hover {color: $secondary;}
button, .button {background: $primary;}
button:hover, .button:hover {background: $primary-dark;}
hr {border-color: $light-gray;}

#social_bar {
  padding: 3px 0;
  background: $primary-dark;
  text-align: right;
  a {color: $white; margin-right: 8px; font-size: 17px;}
}

.title-bar {background: $primary;}
@include breakpoint(medium) {
  .top-bar {
    background: $primary;
    a {color: $white;}
    a:hover {color: $white;}
    li {font-size: 13px;}
    li a:hover{background-color:$secondary;}
    li.menu-text{font-size: 18px; color: $white;a:hover{background: transparent;}}
    .menu li:not(.menu-text) a {padding: 13px 15px;}
    .menu .is-active > a {
        background: $secondary;
        color: $white;
    }
    ul, .dropdown.menu .submenu {background: $primary; border: 0px;}
    .dropdown.menu .submenu {border-top: 3px solid $secondary;}
    .top-bar-right {margin-top: 1px;}
    .dropdown.menu .is-dropdown-submenu-parent a::after {border-color: transparent $white transparent transparent; border-style: solid;}
    .dropdown.menu.medium-horizontal li.is-dropdown-submenu-parent a::after {border-color: $white transparent transparent;}
    .is-drilldown-submenu-parent>a::after {border-color: transparent transparent transparent $white;}
    .js-drilldown-back::before {border-color: transparent $white transparent transparent;}
    .has-form {
        .input-group {margin-bottom: 0;}
        input {max-width: 140px; font-size: 13px; margin-right: 0;}
        [type="text"] {
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
        }
        input.button {
            padding-bottom: 11px;
            padding-top: 7px;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
            background: $emperor;
            color: $white;
        }
        [type="text"],[type="submit"]  {height: 1.8rem;}
    }
  }
}

.off-canvas {
    background: $off-white;
    .is-drilldown {
        margin-top: 40px;
        .drilldown a {background: $off-white; color: $primary; padding: 1rem; border-bottom: 1px solid #f2f2f2;}
        .drilldown a:hover {background: $white; color: $primary-dark;}
        .drilldown .is-drilldown-submenu-parent a::after {border-color: transparent transparent transparent $primary;}
        .drilldown .js-drilldown-back a::before {border-color: transparent $primary transparent transparent;}
        .is-drilldown-submenu {background: $off-white;}
    }
    .close-button {
        z-index: 9999;
        background: transparent;
        color: $emperor;
        right: .5rem;
        top: 0.2rem;
    }
    z-index: 9999;
}
.off-canvas.is-transition-overlap {z-index: 99999;}

.breadcrumbs {
  margin: 20px 0;
  background: $off-white;
  border-radius: 15px;
  padding: 15px;
  a {color: $primary;}
}

.list-style {li{list-style: none;}}

.share-buttons{list-style: none;padding: 0; margin:0 0 5px;}
ul.share-buttons li{display: inline; margin-right: 10px;}
ul.share-buttons .fa {min-width: 30px;}
.share-buttons {
  .button.expanded, .button.tiny{padding:6px 8px;font-size: 1.2rem; border-radius: 5px; color: $white;}
  .button.expanded {margin-bottom: 0;}
  .facebook {background: #3b5998;}
  .twitter {background: #00aced;}
  .google {background: #dd4b39;}
  .linkedin {background: #007bb6;}
  .pin {background: #cb2027;}
  .mail {background: #00bf8f;}
  .whatsapp {background: #43d854;}
}

#content {padding: 25px 0;min-height: 100vh;}

.card {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
  transform: translate3d(0px, 0px, 0px);
  transition: box-shadow 0.2s cubic-bezier(0, 0.2, 0.4, 1) 0s;
}

#carousel {
  margin-top: 30px;
}

.bx-wrapper {
  .bx-caption {
    background: rgba(0,0,0,.8);
    span {font-size: .9em;}
    h5 {
      font-size: 1.4rem;
      font-weight: 500;
      margin-bottom: 3px;
    }
    p {margin-bottom: .5rem;}
    a {
      float: right;
      background: $primary;
      color: $white;
      font-size: 12px;
      font-weight: 500;
      padding: 3px 8px;
      border-radius: 3px;
    }
  }
}

#carousel_business {
  .bx-pager {display: none;}
}


#intro, #testimonials {
  padding: 50px 0 30px;
  background: #5E9CD1;

  h3, p {color: $white;}

  h3 {font-weight: 500;line-height: 1;}

  .rich-text{margin-bottom: 20px;}
}

#testimonials, #media {
    padding: 50px 0;
}


#section {
  padding: 20px;

  h3 {color: $primary; font-weight: 400;}
  h5 {margin-bottom: 0;}
  a p, a h5 {color: $emperor;}
  img {padding: 15px 0;}
}


#side_menu {
  h6.title{background: $primary; padding: 6px; color: $white;}
  hr:last-of-type {border: 0;}
}


#blog_list {
  hr:last-of-type {border:0px;}
  a p{color: $emperor;}
}

#blog-rss
{
  color: $white;
}

#blog_post, #standard_page {
    blockquote {
      background: #f9f9f9;
      border-left: 5px solid #ccc;
      margin: 1.5em 10px;
      padding: 15px;
      padding-left: 25px;
      quotes: "\201C""\201D""\2018""\2019";
    }

    blockquote p  {
        color: #777;
        font-weight: 400;
        font-style: italic;
        font-size: 18px;
        margin-bottom: 0px;
    }
    blockquote.pullout {
        background: transparent;
        font-size: 22px;
        border-left: 0;
        font-style: italic;
        font-weight: 300;
        color: #777;
        padding: 15px;
        padding-left: 50px;
    }
}


#news_feed
{
  h6 {color: $primary;}
  h6.title{background: $primary; padding: 6px; color: $white;}
  h6, li {margin-bottom :5px;}
  li{list-style: none; font-size:14px; margin-bottom: 0px;}
  p{font-size: 14px; margin-bottom:10px;}
  hr:last-of-type{border: 0px;}
  .button{margin-bottom:5px; padding:5px 8px; float: right;}
}

#more_news {
  h6.title{background: $primary; padding: 6px; color: $white;}
  h5{color: $primary; margin-bottom: 2px;}
  img {display:none; border-radius: 3px; margin-bottom: 5px;}
  img:first-of-type {display: block;}
  hr{margin: 12px 0; border-color: #ccc;}
  hr:last-of-type {border: 0px;}
}

#event_feed
{
  .feed {
    height: 230px;
    overflow-y: scroll;
  }
  h6.title{background: $primary; padding: 6px; color: $white;}
  h6.date{margin-top: 0px; color: $black;}
  h6.event {padding:3px 0; margin:0;}
  .event{border-bottom: 1px solid $emperor ;padding: 11px 0;}
  .event:last-of-type {border-bottom: 0px;}
  a {color: $emperor}
  hr:last-of-type {border: 0px;}
}

#event_grid {
  .column {padding: 0 7px;}

  h6 {
    color: $emperor;
    font-weight: 700;
    line-height: 1;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  li {color: $emperor; list-style: none; font-size: 13.5px;}
  i {color: $emperor; font-sie: 20px;}
  p {font-size: 14px; margin-bottom: 10px;}
  a p {color: $emperor; font-size: 13.5px;}
}


#people {
  .people {
    text-align: center;
    img {border-radius: 3px; margin-bottom: 8px;}
    .panel {padding: 10px;}
  }
  #contact-info {
    li{list-style: none;}
  }
}


#testimonials {
    padding: 10px;
    .bx-wrapper {padding: 10px 0;background: transparent; border:0px; box-shadow: none; margin-bottom: 0;}
    img{border-radius: 100%;}
    h4{color: $white; font-weight: 700;line-height: 1;}
    h6,p,li {color: $white;}
    p{margin-top: 10px; margin-bottom: 10px; font-style: italic; font-size: 16px; font-weight: 400;}
    h6{text-align: right;}     
    blockquote {border-left: 0px;}
}


.tag-names li {
  background: transparent;
  border: 1px $primary solid;
  border-radius: 2px;
  color: $primary;
  padding: 4px 8px;
  font-size: 12px;
  display:inline;
  margin: 0px 3px;
  a{color:$primary;};
}


#faq {
  .block-faq_answer {display:none;}
  .block-faq_question {
    background:url('/#{$static}/img/faq/open.png') right no-repeat;
    font-size: 15px;
    color: $primary;
    padding: 12px 25px 12px 0;
    cursor:pointer;
    margin: 0;
    font-weight: 400;}
    .block-faq_question:hover {color: $primary;}
    .block-faq_question.close {background-image:url('/#{$static}/img/faq/close.png');}
    .block-faq_question {border-top: 1px solid $emperor;}
    .block-faq_question:first-of-type {border: 0;}
}


#search {
  input[type="text"]{border-top-left-radius: 5px; border-bottom-left-radius: 5px; font-size: 1.2rem;padding-left: 15px;}
  input.button{border-top-right-radius: 5px; border-bottom-right-radius: 5px;color: $white;padding-top: 11px;}
}


.contact-form {
  [type="text"], [type="password"], [type="date"], [type="datetime"], [type="datetime-local"], [type="month"], [type="week"], [type="email"], [type="number"], [type="search"], [type="tel"], [type="time"], [type="url"], [type="color"], textarea {border-radius: 4px;}

  textarea {max-height: 60px;}
}


footer {
  background-color: #333;
  color: $white;
  padding: 20px 0 0;

  a, h5{color: $white;}

  .social a{font-size: 14px; padding-right: 4px;}
  .menu li a {padding: 11px 8px 11px 0; font-size: 14px;}
  .menu li a:hover {color: $white;}
  .accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle) > a::after {border-color: $white transparent transparent;}

  #copyright
  {
    background-color:$dark-metal;
    margin-top: 20px;
    p {
      margin-bottom: 0;
      padding: 8px 0;
      font-size: 13.5px;
      color: $white;
    }
  }
}


.vcard {
  border: 0px;
  padding: 0;
  margin-bottom: 0px;

}

.scrollup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index:99999;
}

.lightbox
{
  z-index: 100000;
}


.lightboxOverlay
{
  z-index: 99999;
}

/**** Preventing FOUC (flash of unstyled content) ****/
.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}
