{% raw %}{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% load {% endraw %}{{ cookiecutter.project_slug }}{% raw %}_utils %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
<div id="intro">
    <div class="row">
        <div id="carousel_business" class="medium-9 columns">
            {% include "pages/includes/bx_carousel.html" with carousel_items=self.carousel_items.all only  %}
        </div>
        <div id="news" class="medium-3 columns">
            {% news_feed %}
        </div>
    </div>
</div>

<div id="section">
     <div id="icons" class="row text-center">
       <div class="medium-up-3 small-up-1" data>
         {% for block in self.content_items.all %}
           <div class="column icon grow">
             <a href="{{ block.link }}" target="_blank">
               <div class="card">
                {% if block.image %}
                {% image block.image fill-70x70 %}
                {% endif %}
                <h5><strong>{{ block.title}}</strong></h5>
                <div class="card-section" style="padding: 5px;">
                 {{ block.content|richtext }}
               </div>
             </div>
           </a>
         </div>
         {% endfor %}
     </div>
    </div>
</div>

<div id="testimonials">
    <div class="row">
        <div class="medium-7 medium-centered columns">
            {% testimonials %}
         </div>
    </div>
</div>

<div id="media" class="row pad" style="margin-top: 15px;">
    <div class="medium-10 medium-centered columns">
	    <div id="more_news" class="medium-8 columns">
	        {% more_news %}
	    </div>
	    <div id="sidebar" class="medium-4 columns">  	        
	        {% upcoming_events %}
	        
	        {% adverts %}
	        
	        <div class="card">
	            <a class="twitter-timeline" data-width="300" data-height="300" data-link-color="#3E50B4" href="https://twitter.com/realchrisdev">Tweets by realchrisdev</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	        </div>
	    </div>
	</div>
</div>

{% endblock %}{% endraw %}