{% raw %}{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% load {% endraw %}{{ cookiecutter.project_slug }}{% raw %}_utils %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
<div id="intro">
  <div class="row">
    <div class="medium-10 medium-centered columns">
      <center>
          <h3>{{ self.title_text|richtext }}</h3>
          {{ self.body|richtext }}
      </center>
      <div id="carousel">
        {% include "pages/includes/bx_carousel.html" with carousel_items=self.carousel_items.all only  %}
      </div>
    </div>
  </div>
</div>

<div id="section">
  <div id="icons" class="row text-center">
    <h4>Featuring</h4>
    <br>
    <div class="medium-up-3 small-up-1" data>
      {% for block in self.content_items.all %}
      <div class="column icon grow">
        <a href="{{ block.link }}" target="_blank">
          <div class="card">
          {% if block.image %}
            <div class="text-center">
            {% image block.image fill-70x70 %}
            </div>
          {% endif %}
          <h5><strong>{{ block.title}}</strong></h5>
          <div class="card-section" style="padding: 5px;">
            {{ block.content|richtext }}
          </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% adverts %}

{% endblock %}