{% raw %}{% extends "base.html" %}
{% load wagtailcore_tags navigation_tags wagtailimages_tags %}
{% load {% endraw %}{{ cookiecutter.project_slug }}{% raw %}_utils %}

{% block content %}
<div id="content" class="row">
  <div class="medium-9 columns">
    <div class="medium-12 columns">
      <h4><strong>{{ self.title }}</strong></h4>
      <h5 class="subheader">{{ self.subtitle }}</h5>
      <hr>

      {% include "pages/includes/intro.html" with intro=self.intro only %}
    </div>
  </div>
  <div id="sidebar" class="hide-for-print hide-for-small-only medium-3 columns">
    {% secondary_menu calling_page=self %}
  </div>
</div>
{% endblock %}{% endraw %}
