{% raw %}{% extends "base.html" %}
{% load static wagtailcore_tags navigation_tags wagtailimages_tags wagtailembeds_tags {% endraw %}{{ cookiecutter.project_slug }}{% raw %}_utils %}

{% block content %}
    <div id="content" class="grid-container">
    	<div class="grid-x grid-padding-x">
    		<div class="medium-12 cell">
            	<center><h3>{{ self.title }}</h3></center>
            </div>
        	<br>
        	<div class="grid-x grid-padding-x medium-up-4" data-equalizer>        
        		{% include "pages/includes/video_gallery_list.html" with carousel_items=self.carousel_items.all only  %}
        	</div>
        </div>
    </div>
{% endblock %}{% endraw %}