{% raw %}{% extends "photo_gallery/base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="large-12 columns">
            <center><h3>{{ self.title }}</h3></center>
            {% if self.tags %}
                {% include "photo_gallery/includes/tags.html" %}
            {% endif %}
        </div>
    </div>

    <div class="row text-center">
        <div class="large-12 columns">
            {% if images %}
                <ul class="clearing-thumbs medium-block-grid-5" data-clearing data-equalizer>
                    {% for gallery_image in images %}
                        {% image gallery_image width-1400 as gallery_imagedata %}
                        <li data-equalizer-watch><a class="th" href="{{ gallery_imagedata.url }}">
                            <img class="rsImg" src="{{ gallery_imagedata.url }}" alt="{{ gallery_imagedata.alt }}"/>
                        </a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No images are tagged with your {{ self.title }} gallery or no {{ self.title }} tags defined.</p>
            {% endif %}
        </div>
    </div>
    
    <div class="row">
        <div class="pagination-centered">
          <ul class="pagination">
               {% if images.has_previous %}
                    <li class="arrow unavailable"><a href="?page={{ images.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">&laquo;</a></li>
               {% endif %}
               
               Page {{ images.number }} of {{ images.paginator.num_pages }}
                
               {% if images.has_next %}
                   <li class="arrow"><a href="?page={{ images.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">&raquo;</a></li>
               {% endif %}
          </ul>
        </div>
    </div>
    

{% endblock %}{% endraw %}