{% raw %}
{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="large-12 columns">
            {% if self.tags %}
                {% include "photo_gallery/includes/tags.html" %}
            {% endif %}
        </div>
    </div>

    <div class="row text-center">
        <div class="large-12 columns">
            {% if images %}
                <p> <strong>Photo Gallery</strong> - {{ self.title }} </p>
                <div class="bxslider">
                    {% for gallery_image in images %}
                        <li>
                            {% image gallery_image width-1400 as gallery_imagedata %}
                              <img class="rsImg" src="{{ gallery_imagedata.url }}" alt="{{ gallery_imagedata.alt }}"/>
                        </li>
                    {% endfor %}
                </div>
            {% else %}
                <p>No images are tagged with your {{ self.title }} gallery or no {{ self.title }} tags defined.</p>
            {% endif %}
        </div>
    </div>

{% endblock %}
{% endraw %}