{% raw %}
{% extends "base.html" %}
{% load wagtailimages_tags %}

{% block title %}
  Photo Gallery
{% endblock %}

{% block content %}
<div id="photo-gallery">
  <div class="row">
    <div class="large-12 columns">
      <h3>Photo Gallery</h3>
    </div>
  </div>
  <form action="{% url 'photo-gallery' %}" class="form-inline" method="get">
    <div class="row">
      <div class="large-3 medium-3 small-3 columns">
        <label for="right-label" class="right inline">Gallery name:</label>
      </div>
      <div class="large-6 columns">
        <input type="text" name="gallery" required="true" placeholder="Enter Gallery name">
        <br>
        <button type="submit" class="button tiny radius">
            <i class="fa fa-search"></i> Search
        </button>
      </div>
      <div class="large-3 columns">
        <center><h6>Available Galleries</h6></center>
        <hr>
        {% if gallery_list %}
        <ul class="gallery-names">
          {% for gallery_name in gallery_list %}
            <li>{{ gallery_name }}</li>
          {% endfor %}
        {% endif %}
        </ul>
      </div>
    </div>
  </form>
  
  {% if gallery_query %}
    {% if gallery_images %}
      <div class="row text-center">
        <div class="large-12 columns">
          <p> Your Photo Gallery {{ gallery_query }} -</p>
          <div class="bxslider">
              {% for gallery_image in gallery_images %}
                  <li>
                      {% image gallery_image width-1400 as gallery_imagedata %}
                          <img class="rsImg" src="{{ gallery_imagedata.url }}" alt="{{ gallery_imagedata.alt }}"/>
                  </li>
              {% endfor %}
          </div>
        </div>
      </div>

    {% else %}
      <p>Your Photo Gallery {{ gallery_query }} does not exist</p>
    {% endif %}
  {% endif %}
</div>
{% endblock %}
{% endraw %}

