{% raw %}{% load wagtailcore_tags wagtailimages_tags %}
{% load settings_tags %}

<meta property="og:title" content="{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}"/>
<meta property="og:site_name" content=""/>
<meta property="og:url" content="{{ site_url }}{{ request.get_full_path }}" />
<meta property="og:description" content="{% if self.search_description %}{{ self.search_description }}{% endif %}"/>
{% if self.feed_image %}
    {% image self.feed_image width-1200 as img %}
    <meta property="og:image" content="{{ site_url }}{{ img.url }}" />
{% else %}
    <meta property="og:image" content="http://yalgoogenetics.com.au/images/no_image.jpg" />
{% endif %}
{% get_fb_appid as fb_appid %}
{% if fb_appid %}
    <meta property="fb:app_id" content="{{ fb_appid }}" />
{% endif %}
{% endraw %}
