{% raw %}
    <div id="share-buttons">
     
        <!-- Facebook -->
        <a href="http://www.facebook.com/sharer.php?u=http://{{site_name}}{{ request.path }}" target="_blank">
            <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
        </a>
        
        <!-- Twitter -->
        <a href="https://twitter.com/share?url=http://{{site_name}}{{ request.path }}" target="_blank">
            <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
        </a>
        
        <!-- Google+ -->
        <a href="https://plus.google.com/share?url=http://{{site_name}}{{ request.path }}" target="_blank">
            <img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" />
        </a>
        
        <!-- LinkedIn -->
        <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://{{site_name}}{{ request.path }}" target="_blank">
            <img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" />
        </a>
        
        <!-- Pinterest -->
        <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());">
            <img src="https://simplesharebuttons.com/images/somacro/pinterest.png" alt="Pinterest" />
        </a>
        
        <!-- Reddit -->
        <a href="http://reddit.com/submit?url=http://{{site_name}}{{ request.path }}&amp;title=SKHY FC" target="_blank">
            <img src="https://simplesharebuttons.com/images/somacro/reddit.png" alt="Reddit" />
        </a>
        
        <!-- Tumblr-->
        <a href="http://www.tumblr.com/share/link?url=http://{{site_name}}{{ request.path }}&amp;title=SKHY FC" target="_blank">
            <img src="https://simplesharebuttons.com/images/somacro/tumblr.png" alt="Tumblr" />
        </a>
             
        <!-- Yummly -->
        <a href="http://www.yummly.com/urb/verify?url=http://{{site_name}}{{ request.path }}&amp;title=SKHY FC" target="_blank">
            <img src="https://simplesharebuttons.com/images/somacro/yummly.png" alt="Yummly" />
        </a>
        
        <!-- Email -->
        <a href="mailto:?subject={{self.title}}&body=http://{{site_name}}{{ request.path }}">
            <img src="https://simplesharebuttons.com/images/somacro/email.png" alt="Email" />
        </a>
        
        <!-- Print -->
        <a href="javascript:;" onclick="window.print()">
            <img src="https://simplesharebuttons.com/images/somacro/print.png" alt="Print" />
        </a>
     
    </div>
    
    <!--<ul class="share-buttons">
      <li>
          <a class="button tiny radius facebook" href="http://www.facebook.com/sharer.php?u=http://{{site_name}}{{ request.path }}" target="_blank" title="Share on Facebook"><i class="fa fa-facebook"></i>Share on Facebook</a>
      </li>
      <li>
          <a class="button tiny radius twitter" href="https://twitter.com/share?url=http://{{site_name}}{{ request.path }}"><i class="fa fa-twitter"></i>Tweet</a>
      </li>
      <li>
          <a class="button tiny radius google" href="https://plus.google.com/share?url=http://{{site_name}}{{ request.path }}" target="_blank" title="Share on Google+"><i class="fa fa-google-plus"></i>Share</a>
      </li>
      <li>
          <a class="button tiny radius linkedin" href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://{{site_name}}{{ request.path }}" target="_blank" title="Share on LinkedIn"><i class="fa fa-linkedin"></i>Share</a>
      </li>
      <li>
          <a class="button tiny radius pin" href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());" target="_blank" title="Pin it"><i class="fa fa-pinterest-square"></i>Pin</a>
      </li>
      <li>
          <a class="button tiny radius mail" href="mailto:?subject={{self.title}}&body=http://{{site_name}}{{ request.path }}" target="_blank" title="Email"><i class="fa fa-envelope"></i>Email</a>
      </li>
    </ul>-->
{% endraw %}