{% raw %}<ul class="share-buttons">
  <li><a class="button tiny radius facebook" href="https://www.facebook.com/sharer/sharer.php?u=&t=" target="_blank" title="Share on Facebook"><i class="fa fa-facebook"></i>Share on Facebook</a></li>
  <li><a class="button tiny radius twitter" href="https://twitter.com/intent/tweet?source=&text=:%20" target="_blank" title="Tweet"><i class="fa fa-twitter"></i>Tweet</a></li>
  <li><a class="button tiny radius google" href="https://plus.google.com/share?url=" target="_blank" title="Share on Google+"><i class="fa fa-google-plus"></i>Share</a></li>
  <li><a class="button tiny radius linkedin" href="http://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=&source=" target="_blank" title="Share on LinkedIn"><i class="fa fa-linkedin"></i>Share</a></li>
    <li><a class="button tiny radius pin" href="http://pinterest.com/pin/create/button/?url=&description=" target="_blank" title="Pin it"><i class="fa fa-pinterest-square"></i>Pin</a></li>
  <li><a class="button tiny radius mail" href="mailto:?subject=&body=:%20" target="_blank" title="Email"><i class="fa fa-envelope"></i>Email</a></li>
</ul>{% endraw %}