{% raw %}{% load settings_tags %}
{% get_twitter_url as twitter_url %}
{% get_twitter_creator as twitter_creator %}
{% get_twitter_description as twitter_description %}

<meta name="twitter:card" content="summary">
<meta name="twitter:url" content="{{ twitter_url }}">
<meta name="twitter:creator" content="{{ twitter_creator }}">
<meta name="twitter:title" content="{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}">
<meta name="twitter:description" content="{{ twitter_description }}">
{% endraw %}