{% raw %}{% extends "events/event_base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <div id="content" class="row">
        <center><h3>Upcoming Events</h3></center>
        
        {% include "events/includes/tags.html" %}
        <br>

        <div class="medium-12 columns">
            {% if events %}    
                <div class="medium-up-3 small-up-1 columns" data-equalizer>
                    {% for event in events %}
                        {% include "events/includes/event_list_item.html" %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        
        <div class="medium-12 columns">    
            <ul class="pagination text-center" role="navigation" aria-label="Pagination">
                  {% if events.has_previous %}
                      <li class="pagination-previous">
                          <a href="?page={{ events.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}" aria-label="Previous page">Previous</a></li>
                      {% else %} 
                      <li class="pagination-previous disabled">Previous</li>
                  {% endif %}
                  <li class="unavailable">Page {{ events.number }} of {{ events.paginator.num_pages }}</li>
                  {% if events.has_next %}
                      <li class="pagination-next">
                          <a href="?page={{ events.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}" aria-label="Next page">Next</a></li>
                      {% else %}
                      <li class="pagination-next disabled">Next</li>
                  {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}{% endraw %}
