{% raw %}{% extends "events/event_base.html" %}
{% load {% endraw %}{{ cookiecutter.project_slug }}{% raw %}_utils wagtailcore_tags wagtailimages_tags %}

{% block event_content %}
{% include "utils/includes/social_share.html" %}
<div class="row">
  <div class="medium-12 columns">
    <div class="card" style="margin-bottom: 0;">
    	<div class="row">
    	      <div class="medium-7 columns">
    	        {% if self.feed_image %}
    	        {% image self.feed_image fill-1200x880 %}
    	        {% endif %}
    	      </div>
    	      <div class="medium-5 columns">
    	        <br>
    	        <h4><strong>{{ self.title }}</strong></h4>
    	
    	        <p>Date: <strong>{{ self.date_from|date:"j F Y" }}</strong>
    	
    	          {% if self.date_to %}
    	          - <strong>{{ self.date_to|date:"j F Y" }}</strong>
    	          {% endif %}
    	        </p>
    	
    	        <p>
    	          {% if self.time_from %}
    	          Time: <strong>{{ self.time_from|time_display }}</strong>
    	          {% endif %}
    	
    	          {% if self.time_to %}
    	          - <strong>{{ self.time_to|time_display }}</strong>
    	          {% endif %}
    	        </p>
    	
    	        {% if self.location %}
    	        <p>Location: <strong>{{ self.location }}</strong></p>
    	        {% endif %}
    	
    	        {% if self.cost %}
    	        <p>Cost: <strong>{{ self.cost|safe }}</strong></p>
    	        {% endif %}
    	
    	        {% if self.audience %}
    	        <p>Audience: <strong>{{ self.get_audience_display }}</strong></p>
    	        {% endif %}
    	
    	        {% if self.signup_link %}
    	        <p>Sign up: <a href="{{ self.signup_link }}">{{ self.signup_link }}</a></p>
    	        {% endif %}
    	
    	
    	        <p class="add" style="margin-bottom: 0;"><a id="calendar" class='button tiny radius' style="border-radius: 3px;" href= "{{ self.url }}?format=ical"><i class="fa fa-plus-square"></i>&nbsp;&nbsp;Add to calendar</a></p>
    	      </div>
    	 </div>
    </div>
  </div>
  <div class="medium-12 columns">
    <p>{% include "events/includes/events_body.html" with body=self.body only %}</p>

    {% with self.speakers.all as speakers %}
    {% if speakers %}
    <h5 style="text-align: center;">Speaker</h5>
    {% for speaker in speakers %}
    {% cycle '<div class="row">' '' '' %} {# Open row div before first speaker then every 3 loops #}
    <div id="speaker" class="medium-4 columns end" style="text-align: center;">
      {% if speaker.link %}
      <a href="{{ speaker.link }}">
        {% endif %}

        {% if speaker.image %}
        {% image speaker.image height-140 %}
        {% endif %}

        <h6>{{ speaker.name_display }}</h6>

        {% if speaker.link %}
      </a>
      {% endif %}
    </div>
    {% cycle '' '' '</div>' %} {# Close row div before every 3rd speaker #}
    {% endfor %}
    {% if not speakers|length|divisibleby:'3' %}</div>{% endif %} {# Last close of row div if speakers list not exactly divisble by 3 #}
    {% endif %}
    {% endwith %}
  </div>
</div>
{% endblock %}{% endraw %}