@charset 'utf-8';

@import 'css/settings';
@import 'libs/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;


// Colors
$keppel: #43b1b0;
$boston_blue: #3299BB;
$eastern-blue: #238fb2;
$white: #fff;
$celeste: #ccc;
$tundora: #444;
$mine-shaft: #333;
$static: static;

// Fonts
$header-font-family: 'Lato', Helvetica, sans;
$body-font-family: 'Lato', Helvetica, sans;
$paragraph-font-family: 'Lato', Helvetica, sans;

$header-font-color: #555 !default;

// Responsive image/video classes
.rich-text img {
  max-width: 100%;
  height: auto;
}
.responsive-object {
  position: relative;
}
.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.title-bar {background: $keppel;}
.top-bar  {
    border-top: 5px solid $eastern_blue;
    padding: 0;
    li {font-size: 13px;}
    li.menu-text{font-size: 18px; color: $white;}
    a {color: $white;}
    ul, .dropdown.menu .submenu { background: $keppel; border: 0px;}
    .dropdown.menu .submenu {border-top: 3px solid $eastern_blue;}
    .menu li:not(.menu-text) a {padding: 13px 15px;}
    .dropdown.menu .is-dropdown-submenu-parent a::after {
      margin-top: 5px; border-color: $white transparent transparent; border-style: solid;}
    .is-drilldown-submenu-parent>a::after {border-color: transparent transparent transparent $white;}
    .js-drilldown-back::before {border-color: transparent $white transparent transparent;}    
}

.off-canvas {
    a{color: $white;}
    .is-accordion-submenu-parent > a::after {border-color: #fff transparent transparent;}
}
.off-canvas-content {box-shadow: none;}
.off-canvas.position-left {height: 100%;background: $keppel;}

.active { background-color: $primary-color; }

.row{max-width: 68em;}

.breadcrumbs {
    margin: 20px 0 10px;
    background: #f6f6f6;
    border-radius: 15px;
    padding: 15px;
    a {color: $keppel;}
}

.side-nav {
    margin-top: 15px;
    li {list-style: none;}
    a{display: block;padding: 5px 0;}
}

.list-style {li{list-style: none;}}

ul.share-buttons{list-style: none;padding: 0; margin:0; margin-bottom: 15px}
ul.share-buttons li{display: inline; margin-right: 5px;}
ul.share-buttons {
    .fa {margin-right: 8px;}
    .button.tiny {padding:8px 10px;font-size: 1rem;}
    .facebook {background: #3b5998;}
    .twitter {background: #00aced;}
    .google {background: #dd4b39;}
    .linkedin {background: #007bb6;}    
    .pin {background: #cb2027;}
    .mail {background: #00bf8f;}
}

#share-buttons img {
width: 55px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}

#content {padding: 15px 0;min-height: 100vh;}

.intro
{
  color: $white;
  padding: 50px 0px;
  background: -webkit-linear-gradient(90deg,#7474bf 1%,#5e9cd1 99%);
  background: -moz-linear-gradient(90deg,#7474bf 1%,#5e9cd1 99%);
  background: -ms-linear-gradient(90deg,#7474bf 1%,#5e9cd1 99%);
  background: -o-linear-gradient(90deg,#7474bf 1%,#5e9cd1 99%);
  background: linear-gradient(90deg,#7474bf 1%,#5e9cd1 40%);
  
  h3
   {
    font-size: 30px;
    font-weight: 800;
    line-height: 1;
    color: $white;
  }
  
  .rich-text
  {
    margin-bottom: 20px;
  }
}

#carousel
{
  margin-top: 60px;
}

.section
{
  background-color: $keppel;
  padding: 20px 10px;
  color: $white;
  text-align: center;
  
  h3,h4,a {color: $white;}
  h3{font-weight: 500;}
  h4{margin-bottom :3px;}
}

#blog_list {
   hr:last-of-type {border:0px;} 
   a p{color: #555;}
}

#tags
{
  a{color: #fff;}
}

#blog-rss
{
  float: right;
  color: #43b1b0;
}

#people {
    .people {
        text-align: center;
        img {border-radius: 3px; margin-bottom: 8px;}
        .panel {padding: 10px;}
    }
    #contact-info {
        li{list-style: none;}
    }
}


#news_feed 
{
    h6, li {margin-bottom :5px;}
    li{list-style: none; font-size:14px; margin-bottom: 0px;}
    p{font-size: 14px; margin-bottom:10px;}
    hr {border-color: $celeste;}
    hr:last-of-type{border: 0px;}
    .button{margin-bottom:5px; padding:5px 8px; float: right;}
}

#event_feed
{
    margin-bottom: 25px;
    h6, p {margin : 0px;}
    .event{border: 1px solid $keppel; padding: 0;border-radius: 3px; margin-bottom: 10px;}
    h6{color: $keppel;}
    a p{color: $mine-shaft;}
    h6.date{color: $white; background:$keppel; padding: 5px 0; margin: 0;}
    .details {padding: 5px;}
}
#testimonials {
     .bx-wrapper .bx-viewport{background: transparent; border:0px; box-shadow: none;}
     img{float: left; margin-right: 10px; border-radius: 100%;}
     h3{color: $white;}
     h6,p,li {color: $keppel;}
     p{margin-top: 10px; margin-bottom: 10px; text-align: left; font-style: italic; font-size: 15px;}
     h6{text-align: right;}     
     blockquote {border-left: 0px;}
}


.sitemap
{
  padding: 20px 0;
  background-color: $tundora;
  border-top: solid 1px $celeste;
  color: $white;
  
  .headline
  {
    display: block;
    margin: 10px 0 10px 0;
  }
  
  .headline h4
  {
    color: $white;
    margin: 0 0 -2px 0;
    padding-bottom: 5px;
    display: inline-block;
  }
  
  a{
    color: white;
    text-decoration: none;
  }
  
  a:hover{
    color: $eastern-blue;
    text-decoration: none;
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
  }
  
  h5 a{color: $keppel;}
  
  li{list-style: none;}
}

.contact-us
{
  background-color: $mine-shaft;
  color: white;
  padding: 10px 0;
  border-top: solid 1px $mine-shaft;
  
  h5{
    color: $white;
  }
}

.vcard {
  border: 0px;
  padding: 0;
  margin-bottom: 0px;
}


.contact-head
{
  margin-bottom: 20px;
}
.nav-top
{
  border-top: 5px solid $eastern-blue;
}


ul.side-nav {
     text-align: center;
     font-family: $header-font-family;
     li {
        margin-bottom: 4px;
        a:not(.button) {
            background: $keppel; 
            border-radius: 2px; 
            color: $white;
        }
        a:hover:not(.button){
            background: $eastern-blue;
            color: $white;
        }
    }
}

#sidebar {
    #news_feed 
    {
        h6 a, li{color: $mine-shaft;}
        h6, li{text-align: center; margin-bottom: 6px;}
        p{display: none;}
        hr{border: 0px;}
        .news{border: 1px solid $keppel; border-radius: 5px; padding: 8px; margin-bottom:10px;}
        .rich-text{display: none;}
    }
}

#faq {
    .block-faq_answer {display:none;}
    .block-faq_question {
        background:url('/#{$static}/img/faq/open.png') right no-repeat;
        font-size: 15px;
        color: $keppel;
        padding: 12px 25px 12px 0;
        cursor:pointer;  
        margin: 0; 
        font-weight: 400;}
    .block-faq_question:hover {color: $boston_blue;}
    .block-faq_question.close {background-image:url('/#{$static}/img/faq/close.png');}
    .block-faq_question {border-top: 1px solid #ccc;}
    .block-faq_question:first-of-type {border: 0;}
}