@charset 'utf-8';

@import 'css/settings';
@import 'libs/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-menu-icon;

// Colors

$primary: #3F51B5;
$secondary: #303F9F;
$tertiary: #FF4081;
$off-white : #F2F2F2;
$tundora: #444;
$mine-shaft: #333;
$hoverblue:#000033;
$static: static;

// Fonts
$header-font-family: 'Lato', Helvetica, sans;
$body-font-family: 'Lato', Helvetica, sans;
$paragraph-font-family: 'Lato', Helvetica, sans;

$header-font-color: $tundora !default;

// Responsive image/video classes
.rich-text img {
  max-width: 100%;
  height: auto;
}
.responsive-object {
  position: relative;
}
.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.row{max-width: 68em;}
.pad {padding: 20px 0;}
a {color: $primary;}
a:hover {color: $secondary;}
button, .button {background: $tertiary;}
button:hover, .button:hover {background: $primary;}

.title-bar {background: $primary;}
.top-bar  {
    background: $primary;
    padding: 0;
    li {font-size: 13px;}
    li.menu-text{font-size: 18px; color: $white;}
    a {color: $white;}
    a:hover {color: $white;}
    .menu .active a {background: $tertiary;}
    ul, .dropdown.menu .submenu {background: $primary; border: 0px;}
    .dropdown.menu .submenu {border-top: 3px solid $tertiary;}
    .top-bar-right {margin-top: 1px;}
    .menu li:not(.menu-text) a {padding: 13px 15px;}
    .dropdown.menu .is-dropdown-submenu-parent a::after {
      margin-top: 5px; border-color: $white transparent transparent; border-style: solid;}
    .is-drilldown-submenu-parent>a::after {border-color: transparent transparent transparent $white;}
    .js-drilldown-back::before {border-color: transparent $white transparent transparent;} 
    .has-form {
        padding-left: 20px;
        input {max-width: 300px;}
        input.field {
            margin-right: 0px;
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
        }
        input.button {
            padding-bottom: 11px;
            padding-top: 9px;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
        }
        [type="text"],[type="submit"]  {height: 2.1rem;}
    }    
}

.top-bar-right ul li a:hover{background-color:$hoverblue;}

.grow {
transition: 1s ease;
}
.grow:hover{
-webkit-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
transition: 1s ease;
}

.off-canvas {
    a{color: $white;}
    a:hover{color: $tertiary;}
    .is-accordion-submenu-parent > a::after {border-color: $white transparent transparent;}
}
.off-canvas-wrapper{button {background: transparent;}}
.off-canvas-content {box-shadow: none;}
.off-canvas.position-left {height: 100%;background: $primary;}

.breadcrumbs {
    margin: 20px 0 10px;
    background: $off-white;
    border-radius: 15px;
    padding: 15px;
    a {color: $primary;}
}

.list-style {li{list-style: none;}}

.share-buttons{list-style: none;padding: 0; margin:0 0 5px;}
ul.share-buttons li{display: inline; margin-right: 10px;}
ul.share-buttons .fa {min-width: 30px;}
.share-buttons {
    .button.expanded, .button.tiny{padding:6px 8px;font-size: 1.2rem; border-radius: 5px;}
    .button.expanded {margin-bottom: 0;}
    .facebook {background: #3b5998;}
    .twitter {background: #00aced;}
    .google {background: #dd4b39;}
    .linkedin {background: #007bb6;}    
    .pin {background: #cb2027;}
    .mail {background: #00bf8f;}
    .whatsapp {background: #43d854;}
}

#content {padding: 15px 0;min-height: 100vh;}

#social_bar {
    background: $secondary;
    text-align: right;
    a {color: $white; margin-right: 8px;font-size: 20px;}
}

.intro
{
  padding: 50px 0 30px;
  background: #5e9cd1;
  
  h3, p {color: $white;}
  
  h3{font-weight: 800;line-height: 1;}
  
  .rich-text{margin-bottom: 20px;}
}

#carousel
{
  margin-top: 30px;
}

.section
{
  background: $off-white;
  padding: 20px 10px;
  
  .callout {padding: 0; border-radius: 5px;}
  h3{color: $primary;font-weight: 800;line-height: 1;}
  h5 {background: $primary; color: $white; padding: 4px 0;}
  p {color: $primary; padding: 5px;}
  img {padding: 15px 0;}
  
  .column:hover {
      h5 {background: $tertiary;}
      p {color: $tertiary;}    
  }
}

#blog_list {
   hr:last-of-type {border:0px;} 
   a p{color: $tundora;}
}

#tags
{
  a{color: $white;}
}

#blog-rss
{
  color: $white;
}

#people {
    .people {
        text-align: center;
        img {border-radius: 3px; margin-bottom: 8px;}
        .panel {padding: 10px;}
    }
    #contact-info {
        li{list-style: none;}
    }
}

#side_menu {
    h6.title{background: $primary; padding: 6px; color: $white;}
    hr:last-of-type {border: 0;}
}

#news_feed 
{
    h6 {color: $primary;}
    h6.title{background: $primary; padding: 6px; color: $white;}
    h6, li {margin-bottom :5px;}
    li{list-style: none; font-size:14px; margin-bottom: 0px;}
    p{font-size: 14px; margin-bottom:10px;}
    hr {border-color: $tundora;}
    hr:last-of-type{border: 0px;}
    .button{margin-bottom:5px; padding:5px 8px; float: right;}
}

#event_feed
{    
    .feed {
        height: 230px;
        overflow-y: scroll;
    }
    h6.title{background: $primary; padding: 6px; color: $white;}
    h6.date{margin-top: 0px; color: $black;}
    h6.event {padding:3px 0; margin:0;}
    .event{border-bottom: 1px solid $tundora;padding: 11px 0;}
    .event:last-of-type {border-bottom: 0px;}
    a {color: $tundora}
    hr:last-of-type {border: 0px;}
}

#testimonials {
     .bx-wrapper .bx-viewport{background: transparent; border:0px; box-shadow: none;}
     img{float: left; margin-right: 10px; border-radius: 100%;}
     h3{color: $white;}
     h6,p,li {color: $primary;}
     p{margin-top: 10px; margin-bottom: 10px; text-align: left; font-style: italic; font-size: 15px;}
     h6{text-align: right;}     
     blockquote {border-left: 0px;}
}

#search {
    input[type="text"]{border-top-left-radius: 5px; border-bottom-left-radius: 5px; font-size: 1.2rem;padding-left: 15px;}
    input.button{border-top-right-radius: 5px; border-bottom-right-radius: 5px;color: $white;padding-top: 11px;}
}

.tag-names li
{
  background: $primary;
  border-radius: 2px;
  color: #fff;
  padding: 5px;
  display:inline;
  margin: 0px 3px;
  a{color:$white;};
}

#faq {
    .block-faq_answer {display:none;}
    .block-faq_question {
        background:url('/#{$static}/img/faq/open.png') right no-repeat;
        font-size: 15px;
        color: $primary;
        padding: 12px 25px 12px 0;
        cursor:pointer;  
        margin: 0; 
        font-weight: 400;}
    .block-faq_question:hover {color: $primary;}
    .block-faq_question.close {background-image:url('/#{$static}/img/faq/close.png');}
    .block-faq_question {border-top: 1px solid $tundora;}
    .block-faq_question:first-of-type {border: 0;}
}

#sitemap
{
  background-color: $tundora;
  
  ul {margin-left: 0;}
  li{list-style: none;}
  
  h4{color: $white;}
  
  a{color: $white;}
  a:hover{color: $tertiary;}
  
  h5 {
      a{color: $tertiary;}
      a:hover {color: $white;}
  } 
}

#contact-us
{
  background-color: $mine-shaft;
  color: white;
  padding: 20px 0;    
  
  a, h5{color: $white;}
  
  .social li {list-style: none;font-size: 30px;}
}

textarea#id_message {max-height: 150px;}

.vcard {
  border: 0px;
  padding: 0;
  margin-bottom: 0px;
}
