{% raw %}{% extends "photo_gallery/base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
    <div id="content" class="row">
        <div class="medium-12 columns">
            <center><h3>{{ self.title }}</h3></center>
            {% if self.tags %}
                {% include "photo_gallery/includes/tags.html" %}
            {% endif %}

            {% if images %}
                <div class="medium-up-4" data-equalizer>
                    {% for gallery_image in images %}
                        {% image gallery_image width-1200 as gallery_imagedata %}
                        <div class="column" data-equalizer-watch>
                            <a class="thumbnail" href="{{ gallery_imagedata.url }}" data-lightbox="{{ self.title }}">
                                <img src="{{ gallery_imagedata.url }}" alt="{{ gallery_imagedata.alt }}" style="width: 100%; height: 150px;"/>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>No images are tagged with your {{ self.title }} gallery or no {{ self.title }} tags defined.</p>
            {% endif %}
        </div>
        
        <div class="medium-12 columns">    
            <ul class="pagination text-center" role="navigation" aria-label="Pagination">
                  {% if images.has_previous %}
                      <li class="pagination-previous">
                          <a href="?page={{ images.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}" aria-label="Previous page">Previous</a></li>
                      {% else %} 
                      <li class="pagination-previous disabled">Previous</li>
                  {% endif %}
                  <li class="unavailable">Page {{ images.number }} of {{ images.paginator.num_pages }}</li>
                  {% if images.has_next %}
                      <li class="pagination-next">
                          <a href="?page={{ images.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}" aria-label="Next page">Next</a></li>
                      {% else %}
                      <li class="pagination-next disabled">Next</li>
                  {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}{% endraw %}