{% raw %}{% extends "blog/blog_base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% if blog.feed_image %}
{% block og_image %}
{% image self.feed_image width-1200 as img %}
<meta property="og:image" content="{{ site_name }}{{ img.url }}" />
<meta property="og:type" content="article" />
{% endblock %} 
{% endif %}
{% block article_content %}
<article>
    {% include "utils/includes/social_share.html" %}
    {% include "blog/includes/blog_header.html" %}
    {% include "blog/includes/blog_body.html" with body=self.body only %}    
</article>
{% endblock %}{% endraw %}
