{% raw %}{% load wagtailcore_tags wagtailimages_tags %}
{% if adverts %}
    {% for t in adverts %}
        {% if t.link %}<a href="{{ t.link }}">{% endif %}
        <div class="card">
            {% if t.image %}
                {% image t.image width-500 %}
            {% endif %}
            {% if t.text %}
                <div class="card-section" style="padding: 8px;">
                    {{ t.text|richtext }}
                </div>
            {% endif %}
        </div>
        {% if t.link %}</a>{% endif %}
    {% endfor %}
{% endif %}{% endraw %}