{% raw %}{% load wagtailcore_tags wagtailimages_tags %}
{% if adverts %}
    {% for a in page_advert %}
        {% if a.link %}<a href="{{ a.link }}">{% endif %}
        <div class="card text-center">
            {% if a.image %}
                {% image a.image width-500 %}
            {% endif %}
            {% if a.text %}
                <div class="card-section" style="padding: 8px;">
                    {{ a.text|richtext }}
                </div>
            {% endif %}
        </div>
        {% if a.link %}</a>{% endif %}
    {% endfor %}
    
    {% for a in non_page_associated_adverts %}
        {% if a.link %}<a href="{{ a.link }}">{% endif %}
            <div class="card text-center">
                {% if a.image %}
                    {% image a.image width-500 %}
                {% endif %}
                {% if a.text %}
                    <div class="card-section" style="padding: 8px;">
                        {{ a.text|richtext }}
                    </div>
                {% endif %}
            </div>
        {% if a.link %}</a>{% endif %}
    {% endfor %}
{% endif %}{% endraw %}