{% raw %}{% load static %}

<div class="notification-callout-alert hide-for-small" data-closable>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Exclamation_in_a_circle_IS.svg/2000px-Exclamation_in_a_circle_IS.svg.png" class="" alt="" height="" width="100" style="margin-top: 40px;">
    <div class="notification-callout-alert-content" style="margin-left: 15px;">
        <p class="notification-callout-alert-header">This is a notification!</p>
        <p class="notification-callout-alert-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris libero dolor, volutpat vulputate aliquet vel, elementum nec risus.</p>
        <p><a class="button small" href="#" style="border-radius: 5px; padding: 7px 15px; margin-bottom: 0;"><strong>Check it out!</strong></a>
    </div>
    <button class="close-button" aria-label="Dismiss alert" type="button" data-close style="background: transparent;">
        <span aria-hidden="true">&times;</span>
    </button>
</div>{% endraw %}