{% raw %}{% load wagtailcore_tags wagtailimages_tags %}
{% if testimonials %}
    <ul class="testimonials" style="margin-left: 0;">
        {% for t in testimonials %}
            <li> 
                <blockquote>
                    {% if t.photo %}
                        {% image t.photo width-100 %}
                    {% endif %}
                    <p>{{ t.text }}</p>
                    <h6><strong>{{t.name}}</strong></h6>
                </blockquote>
            </li> 
        {% endfor %}
    </ul>
{% endif %}{% endraw %}