{% raw %}{% load wagtailcore_tags wagtailimages_tags %}

{% if testimonials %}
    {% for t in testimonials %}
        <a data-open="{{t.name|slice:":4"}}">
            <div class="small-12 medium-6 columns" style="min-height: 235px;">
                <div class="testimonial">
                    {% if t.photo %}
                        {% image t.photo fill-120x120 class="profile-pic hide-for-small-only" %}
                    {% endif %}
                    {{ t.text|truncatewords:20|richtext }}
                </div>
                <h6 style="float: right;"><strong>{{t.name}}</strong></h6>
            </div> 
        </a>
        
        <div class="reveal testimonial" id="{{t.name|slice:":4"}}" data-reveal>
          {{ t.text|richtext }}
          <br>
          <h6 style="float: right;"><strong>{{t.name}}</strong></h6>
          <button class="close-button" data-close aria-label="Close modal" type="button" style="background: transparent;">
            <span aria-hidden="true">&times;</span>
          </button>
        </div> 
    {% endfor %}
{% endif %}{% endraw %}