{% raw %}{% extends "people/person_base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block content %} 
    <div id="content" class="row">           
        <h3>{{ self.title }}</h3>
        <h4 class="subheader">{{ self.subtitle }}</h4>
        {% include "people/includes/intro.html" with intro=self.intro only %}
        <hr> 

        <div class="people medium-up-4 small-up-1 text-center" data-equalizer>
            {% for person in persons %}
                 <div class="column" data-equalizer-watch>
                    <a href="{% pageurl person %}">
                        {% image person.image fill-800x800 %}
                        <div class="callout secondary">
                            <center><h5 style="margin-bottom: 0px;">{{ person.title}}</h5></center>
                            {% if person.role %}
                            <center><h6 class="subheader">{{ person.role }}</h6></center>
                            {% endif %}
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        
            <ul class="pagination text-center">
                  {% if persons.has_previous %}
                      <li class="arrow">
                          <a href="?page={{ persons.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">&laquo; Prev</a></li>
                  {% endif %}
                  <li class="unavailable">Page {{ persons.number }} of {{ persons.paginator.num_pages }}</li>
                  {% if persons.has_next %}
                      <li class="arrow">
                          <a href="?page={{ persons.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">Next &raquo;</a></li>
                  {% endif %}
            </ul>
    </div>
{% endblock %}
{% endraw %}
