{% raw %}{% extends "people/person_base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block people_content %}
    <div class="row">            
            <h3>{{ self.title }}</h3>
            <h4 class="subheader">{{ self.subtitle }}</h4>
            {% include "people/includes/intro.html" with intro=self.intro only %}
            <hr> 
            <div class="row">
                <ul class="people large-block-grid-3 small-block-grid-2" data-equalizer>
                    {% for person in persons %}
                        <li data-equalizer-watch>
                            <div class="panel radius">
                                <a href="{% pageurl person %}">
                                    {% image person.image width-200 %}
                                    <center><h5 style="margin-bottom: 0px;">{{ person.title}}</h5></center>
                                    {% if person.role %}
                                    <center><h6 class="subheader">{{ person.role }}</h6></center>
                                    {% else %} {% endif %}
                                </a>

                                <a href="{% pageurl person %}" data-reveal-id="personModal" class="reveal_modal">
                                    Read More
                                </a>

                                <div id="personModal" class="reveal-modal" data-reveal aria-labelledby="firstModalTitle" aria-hidden="true" role="dialog">
                                    <div id="modal-content"></div>
                                    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
                                </div>
                                
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            
            <div class="pagination-centered">
                <ul class="pagination">
                      {% if persons.has_previous %}
                          <li class="arrow">
                              <a href="?page={{ persons.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">&laquo; Prev</a></li>
                      {% endif %}
                      <li class="unavailable">Page {{ persons.number }} of {{ persons.paginator.num_pages }}</li>
                      {% if persons.has_next %}
                          <li class="arrow">
                              <a href="?page={{ persons.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">Next &raquo;</a></li>
                      {% endif %}
                </ul>
            </div>
    </div>
{% endblock %}{% endraw %}
