{% raw %}{% extends "base.html" %}
{% block title %}{% block head_title %}{% endblock head_title %}{% endblock title %}

{% block callout %}
  <div class="callout accounts">
    <div class="grid-container">
      <div class="grid-x grid-padding-x align-center pad">
        <div class="medium-7 text-center cell">
          {% block user_title %}{% endblock %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div id="content" class="grid-container">
    <div class="grid-x grid-padding-x align-center">
      <div class="medium-5 cell">
        {% block inner %}{% endblock %}
      </div>
    </div>
  </div>
{% endblock %}{% endraw %}
