{% raw %}{% extends "account/base.html" %}
{% load i18n foundation_formtags %}
{% block head_title %}{% trans "Reset Password" %}{% endblock %}

{% block user_title %}
  <h3>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Reset Password" %}{% endif %}</h3>
{% endblock %}

{% block inner %}
  {% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
  {% else %}
    {% if form %}
      <form method="POST" action=".">
        {% csrf_token %}
        {{ form|as_foundation }}
        <input type="submit" class="button" name="action" value="{% trans 'Reset Password' %}"/>
      </form>
    {% else %}
      <p>{% trans 'Your password is now changed.' %}</p>
    {% endif %}
  {% endif %}
{% endblock %}{% endraw %}
