{% raw %}{% extends "account/base.html" %}
{% load i18n foundation_formtags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block user_title %}
  <h3>{% trans "Change Password" %}</h3>
{% endblock %}

{% block inner %}
  <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
    {% csrf_token %}
    {{ form|as_foundation }}
    <button class="button" type="submit" name="action">{% trans "Change Password" %}</button>
  </form>
{% endblock %}{% endraw %}
