{% raw %}{% extends "account/base.html" %}
{% load i18n account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block user_title %}
  <h3>{% trans "Password Reset" %}</h3>
  <h6>{% trans 'E-mail addresses associated with your account:' %}</h6>
{% endblock %}

{% block inner %}
  {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
  {% endif %}

  <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
{% endblock %}{% endraw %}
