{% raw %}{% extends "account/base.html" %}
{% load i18n account socialaccount foundation_formtags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block user_title %}
  <h3>{% trans "Sign Up" %}</h3>
  <h6>{% blocktrans %}Have an account? <a href="{{ login_url }}">Sign in »</a>{% endblocktrans %}</h6>
{% endblock %}

{% block outter %}
  {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}

      <div class="login-box">
        <div class="row collapse expanded" data-equalizer>
          <div class="small-12 medium-6 column small-order-2 medium-order-1" data-equalizer-watch>
            <div class="login-box-form-section">
              <h1 class="login-box-title">Sign Up</h1>
              <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form|as_foundation }}
                {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="button expanded" type="submit">{% trans "Sign Up" %} &raquo;</button>
              </form>
            </div>
            <div class="or">OR</div>
          </div>
          <div class="small-12 medium-6 column small-order-1 medium-order-2 login-box-social-section" data-equalizer-watch>
            <div class="login-box-social-section-inner">
              <span class="login-box-social-headline">Sign up with<br />your social network</span>
              {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </div>
          </div>
        </div>
      </div>

    {% else %}

      <div class="medium-6 medium-centered">
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{ form|as_foundation }}
          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="button expanded" type="submit">{% trans "Sign Up" %} &raquo;</button>
        </form>
      </div>
    {% endif %}

{% endblock %}{% endraw %}
