{% raw %}{% load compress static wagtailuserbar wagtailsettings_tags navigation_tags %}
{% load {% endraw %}{{ cookiecutter.repo_name }}{% raw %}_utils %}
{% load settings_tags %}
{% get_settings %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
     <head>
            <meta charset="utf-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
            <meta name="description" content="{% if self.search_description %}{{ self.search_description }}{% endif %}">
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}"/>
            
            {% compress css %}
                <link rel="stylesheet" type="text/css" href="{% static 'libs/foundation-sites/dist/foundation.min.css' %}">
                <link rel="stylesheet" type="text/css" href="{% static 'libs/bxslider-4/dist/jquery.bxslider.min.css' %}">
                <link rel="stylesheet" href="{% static 'libs/font-awesome/css/font-awesome.min.css' %}">
                <link rel="stylesheet" type="text/css" href="{% static 'libs/lightbox2/src/css/lightbox.css' %}" />
                <link rel="stylesheet" type="text/x-scss" href="{% static 'css/app.scss' %}">
            {% endcompress %}
            
            {% block extra_css %}{% endblock %}
    
            {% include "utils/includes/facebook_opengraph.html" %}
            {% include "utils/includes/twitter_cards.html" %}
            {% include "utils/includes/google_analytics.html" %}
        </head>
    
        <body class="{% block body_class %}{% endblock %}">
            {% wagtailuserbar %}
    
            {% get_site_root as site_root %}
            {% top_menu parent=site_root calling_page=self %}
            
            <div class="off-canvas-content" data-off-canvas-content>
                    
                    {% breadcrumbs %}
                    {% block content %}{% endblock %}
            
                    <footer>
                        <div id="sitemap" class="pad hide-for-small-only">
                            <div class="row">
                              <div class="medium-4 columns">
                                <div class="headline">
                                  <h4><strong>Explore Our Site</strong></h4>
                                </div>
                              </div>
                            </div>
                            <br>
                            <div class="row">
                                {% site_menu parent=site_root calling_page=self %}
                            </div>
                        </div>
                        <div id="contact-us">
                            <div class="row">
                                <div class="medium-4 columns">
                                    <h5><strong>Contact Us</strong></h5>
                                    {% get_contact_fields as contact %}
                                    {% include "contact/includes/contact_card.html" with contact=contact only %}
                                </div>
                                <div class="social medium-4 columns text-center">
                                    <h5><strong>Follow Us</strong></h5>
                                    <li><a href="{{ settings.pages.SocialMediaSettings.facebook }}" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
                                    <li><a href="{{ settings.pages.SocialMediaSettings.twitter_name }}" target="_blank"><i class="fa fa-twitter-square"></i></a></li>
                                    <li><a href="{{ settings.pages.SocialMediaSettings.github }}" target="_blank"><i class="fa fa-github-square"></i></a></li>
                                </div>
                                <div class="medium-4 columns text-center">
                                    {%  if contact.post_code %}
                                        
                                        {% get_google_maps_key as google_maps_key %}
            
                                        <img src="https://maps.googleapis.com/maps/api/staticmap?center={{ contact.post_code }}&zoom=13&size=300x200&maptype=roadmap
                                        &sensor=false&markers=color:green|{{ contact.post_code }}{% if google_maps_key %}&key={{ google_maps_key }}{% endif %}" />
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div id="copyright">
                            <div class="row">
                                <div class="medium-4 columns">Copyright &copy; 
                                </div>
                            </div>
                        </div>   
                    </footer>
                    
                </div>
              </div>
            </div>            
                    
            {% compress js %}
                <script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
                <script src="{% static 'libs/foundation-sites/dist/foundation.min.js' %}"></script>
                <script src="{% static 'libs/what-input/what-input.min.js' %}"></script>
                <script src="{% static 'libs/bxslider-4/dist/jquery.bxslider.min.js' %}"></script>
                <script src="{% static 'libs/lightbox2/src/js/lightbox.js' %}"></script>
                <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
            {% endcompress %}
    
            {% block extra_js %}
                <script>
                  $(document).foundation();
                </script>
                <script>
                  $(document).ready(function(){
                      $('.bxslider').bxSlider();
                    });
                </script>
                <script>
                    $(document).ready(function() {
                        $('#faq .block-faq_question').click(function() {
                            $(this).next('.block-faq_answer').slideToggle(500);
                            $(this).toggleClass('close');
                        });
                    });
                </script>
                <script>
                    $('.reveal_modal').click(function(event) {
                        event.preventDefault();
            
                        $('#modal-content').empty();
                        var link = $(this).attr("href");
                        $('#modal-content').load(link + " .modal-content");
                    });
                </script>
            {% endblock %}
        </body>
    </html>
    
    
{% endraw %}
