{% raw %}{% load wagtailcore_tags wagtailimages_tags %}
    <article class="blog">
            <a href="{% pageurl blog %}">
            	<div class="card">
                	{% if blog.feed_image %}
                    	{% image blog.feed_image fill-1200x400 %}
                	{% endif %}
                    <div class="card-section">
                        <h4><strong>{{ blog.title }}</strong></h4>
                    
                        {% if blog.intro %}
                            {{ blog.intro|richtext }}
                        {% else %}
                            {{ blog.search_description }}   
                        {% endif %}
                        
                        <div class="medium-12 columns" style="padding: 0;">
                            <p>
                                <a class="button radius tiny secondary" style="border-radius: 5px; color: #fff;"><strong>{{ blog.date|date:"j F Y" }}</strong></a>
                                <a class="float-right button radius tiny" href="{% pageurl blog %}" style="border-radius: 5px;">Read Article &raquo;</a>
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </article>{% endraw %}