{% raw %}{% load wagtailcore_tags wagtailimages_tags %}

<div class="article-row-section pad">
	<div class="article-row-section-inner">
  		<center>
    		<h3 class="article-row-section-header">Latest Posts</h3>
    	</center>
        {% for blog in blogs %}
        	<a href="{% pageurl blog %}">
        	      <article class="article-row">
        	        <div class="article-row-content">
        	          <h1 class="article-row-content-header">{{ blog.title }}</h1>
        	
        	          {{ blog.intro|truncatewords:40|richtext }}
        	
        	          <time class="article-row-content-time" datetime="2008-02-14 20:00"><strong>{{ blog.date|date:"j F Y" }}</strong></time>
        	        </div>
        	      </article>
        	</a>
        {% endfor %}
    </div>
</div>{% endraw %}  