{% raw %}<ul class="sticky-social-bar hide-for-print hide-for-small-only">
  <li class="social-icon">
    <a href="https://www.facebook.com/sharer.php?u={{ request.build_absolute_uri }}" target="_blank">
    <i class="fa fa-facebook" aria-hidden="true"></i>
    <span class="social-icon-text">Facebook</span>
    </a>
  </li>
  <li class="social-icon">
    <a href="https://twitter.com/share?url={{ request.build_absolute_uri }}" target="_blank">
    <i class="fa fa-twitter" aria-hidden="true"></i>
    <span class="social-icon-text">Twitter</span>
    </a>
  </li>
  <li class="social-icon">
    <a href="https://plus.google.com/share?url={{ request.build_absolute_uri }}" target="_blank" title="Share on Google+">
    <i class="fa fa-google-plus" aria-hidden="true"></i>
    <span class="social-icon-text">Google +</span>
    </a>
  </li>
  <li class="social-icon">
    <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ request.build_absolute_uri }}" target="_blank" title="Share on LinkedIn">
    <i class="fa fa-linkedin" aria-hidden="true"></i>
    <span class="social-icon-text">Linkedin</span>
    </a>
  </li>
  <li class="social-icon">
    <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());" target="_blank" title="Pin it">
    <i class="fa fa-pinterest-p" aria-hidden="true"></i>
    <span class="social-icon-text">Pinterest</span>
    </a>
  </li>
  <li class="social-icon">
    <a href="mailto:?subject={{self.title}}&body={{ request.build_absolute_uri }}" target="_blank" title="Email">
    <i class="fa fa-envelope" aria-hidden="true"></i>
    <span class="social-icon-text">Mail</span>
    </a>
  </li>
  <li class="social-icon">
    <a href="javascript:window.print()" target="_blank" title="Print">
    <i class="fa fa-print" aria-hidden="true"></i>
    <span class="social-icon-text">Print</span>
    </a>
  </li>
</ul>

<div class="share-buttons hide-for-print show-for-small-only small-up-6">
  <div class="column">
    <a class="button tiny secondary facebook" href="https://www.facebook.com/sharer.php?u={{ request.build_absolute_uri }}" target="_blank" title="Share on Facebook"><i class="fa fa-facebook"></i></a>

  </div>
  <div class="column">
    <a class="button tiny secondary twitter" href="https://twitter.com/share?url={{ request.build_absolute_uri }}"><i class="fa fa-twitter"></i></a>
  </div>
  <div class="column">
    <a class="button tiny secondary whatsapp" href="whatsapp://send?text={{ request.build_absolute_uri }}" target="_blank" title="Whatsapp"><i class="fa fa-whatsapp"></i></a>
  </div>
  <div class="column">
    <a class="button tiny secondary linkedin" href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ request.build_absolute_uri }}" target="_blank" title="Share on LinkedIn"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="column">
    <a class="button tiny secondary pin" href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());" target="_blank" title="Pin it"><i class="fa fa-pinterest-square"></i></a>
  </div>
  <div class="column">
    <a class="button tiny secondary mail" href="mailto:?subject={{self.title}}&body={{ request.build_absolute_uri }}" target="_blank" title="Email"><i class="fa fa-envelope"></i></a>
  </div>
</div>{% endraw %}