{% raw %}{% load wagtailcore_tags navigation_tags wagtailsettings_tags static %}
{% get_settings %}
{% get_site_root as site_root %}

<div id="social_bar">
    <div class="row" style="max-width: 95%;">
     <a href="{{ settings.pages.SocialMediaSettings.facebook }}" title="Facebook" target="_blank"><i class="fa fa-facebook-square"></i></a>
     <a href="{{ settings.pages.SocialMediaSettings.twitter_name }}" title="Twitter" target="_blank"><i class="fa fa-twitter-square"></i></a>
     <a href="{{ settings.pages.SocialMediaSettings.github }}" title="Github" target="_blank"><i class="fa fa-github-square"></i></a>
     <a href="mailto:cclarke@chrisdev.com" title="Mail" target="_blank"><i class="fa fa-envelope"></i></a>
     </div>
</div>

<div class="off-canvas-wrapper">
   <div class="title-bar">
     <div class="title-bar-left">
       <button class="menu-icon" type="button" data-toggle="offCanvas"></button>
       <span class="title-bar-title">ChrisDev Wagtail</span>
     </div>
   </div>
   <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
     <div class="off-canvas position-left" id="offCanvas" data-off-canvas>     
         <ul class="vertical menu" data-accordion-menu>
           <li><a href="{% pageurl site_root %}"><strong>Home</strong></a></li>
            {% for menuitem in menuitems %}
            <li>
                <a href="{% pageurl menuitem %}"><strong>{{ menuitem.title }}</strong></a>
                {% if menuitem.show_dropdown %}
                  <ul class="menu vertical nested">
                    <li><a href="{% pageurl menuitem %}">{{ menuitem.title }}</a></li>
                    {% offcanvas_top_menu_children parent=menuitem %}
                  </ul>
               {% endif %}
            </li>
           {% endfor %}
         </ul>
     </div>
    {% endraw %}