{% raw %}{% load wagtailcore_tags navigation_tags %}
{% get_site_root as site_root %}
<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">ChrisDev Wagtail</li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="{% if calling_page.url == site_root %} active{% endif %}"><a href="{% pageurl site_root %}">Home</a></li>
          {% for menuitem in menuitems %}
              <li class="{% if menuitem.show_dropdown %}has-submenu{% endif %}
                         {% if calling_page.url == menuitem.url %} active{% endif %}">
                  <a href="{% pageurl menuitem %}">{{ menuitem.title }}</a>
              {% if menuitem.show_dropdown %}
                  <ul class="submenu menu vertical" data-submenu>
                      {% top_menu_children parent=menuitem %}
                  </ul>
              {% endif %}
          {% endfor %}
      </li>
      <li class="has-form show-for-small-only" style="background: transparent;">
         <form action ="{% url 'wagtailsearch_search' %}" method="get">
             <div class="row collapse">
                 <div class="large-8 small-9 columns">
                     <input type="text" placeholder="Search"  name="q"{% if query_string %} value="{{ query_string }}"{% endif %}>
                 </div>
                 <div class="large-4 small-3 columns">
                     <input type="submit" class="secondary button expand" value="Search">
                 </div>
             </div>
         </form>
      </li>
    </ul>
  </div>
</div>{% endraw %}
