{% raw %}{% extends "events/event_base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load {% endraw %}{{ cookiecutter.repo_name }}{% raw %}_utils %}

{% block event_content %}
<div class="medium-10 small-centered columns">
     <div class="panel radius">

         <h4>{{ self.title }}</h4>

         {% if self.image_items %} 
            {% image image_items width-200 %}
         {% endif %}

         <p>Starts on: <strong>{{ self.date_from|date:"j F Y" }}</strong></p>

         {% if self.date_to %} 
         <p>Ends on: <strong>{{ self.date_to|date:"j F Y" }}</strong></p>
         {% endif %}


         {% if self.time_from %}
            <p>Time: <strong>{{ self.time_from|time_display }}</strong>
         {% endif %}

         {% if self.time_to %} 
            to <strong>{{ self.time_to|time_display }}</strong></p>
         {% endif %}

         {% if self.location %}
            <p>Location: <strong>{{ self.location }}</strong></p>
         {% endif %}

         <p>{% include "events/includes/events_body.html" with body=self.body only %}</p>

         {% if self.audience %}
         <p>Audience:
         <strong>{{ self.get_audience_display }}</strong></p>
         {% endif %}

         {% if self.cost %}
         <p>Cost: <strong>{{ self.cost|safe }}</strong></p>
         {% endif %}

         {% if self.signup_link %}
         <p>Sign up: <a href="{{ self.signup_link }}">{{ self.signup_link }}</a></p>
         {% endif %}

         {% with self.speakers.all as speakers %}
         {% if speakers %}    
         <h5 style="text-align: center;">Speaker</h5>
         {% for speaker in speakers %}
         {% cycle '<div class="row">' '' '' %} {# Open row div before first speaker then every 3 loops #}
             <div id="speaker" class="medium-4 columns end" style="text-align: center;">
                 {% if speaker.link %}
                 <a href="{{ speaker.link }}">
                     {% endif %}

                     {% if speaker.image %}
                     {% image speaker.image height-140 %}
                     {% endif %}

                     <h6>{{ speaker.name_display }}</h6>

                     {% if speaker.link %}
                 </a>
                 {% endif %}
             </div>
             {% cycle '' '' '</div>' %} {# Close row div before every 3rd speaker #}
         {% endfor %}
         {% if not speakers|length|divisibleby:'3' %}</div>{% endif %} {# Last close of row div if speakers list not exactly divisble by 3 #}      
     {% endif %}
     {% endwith %}

     <p class="add"><a class='button tiny radius' href= "{{ self.url }}?format=ical"><i class="fa fa-plus-square"></i>&nbsp;&nbsp;Add to calendar</a></p>
</div>
</div>
{% endblock %}{% endraw %}
