{% extends "events/event_base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block event_content %}
    <div id="content" class="row">
        <div class="large-9 medium-8 columns" style="padding-top: 20px;">
            <h5>Upcoming Events</h5>
            {% with self.events.all as events %}
                {% if events %}    
                    <ul class="small-block-grid-1 medium-block-grid-2 columns">
                        {% for event in events %}
                            {% include "events/includes/event_list_item.html" %}
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
    </div>
{% endblock %}
