{% raw %}{% extends 'amp_base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block canonical_url %}
    <link rel="canonical" href="{{ page.full_url }}"/>
{% endblock %}

{% block schema %}
    {% image self.feed_image fill-100x100 as feed_img %}
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "headline": "{{ self.title }}",
        "datePublished": "{{ self.date }}",
        "image": [
          "{{ request.site.root_url }}{{ feed_img.url }}"
        ],
        "author": "{{ user.first_name }} {{ user.last_name }}",
        "publisher": "{{ request.site.site_name }}",
      }
    </script>
{% endblock %}

{% block content %}
<div id="content" class="row">
  <div class="medium-12 columns" role="content">
    <article>
      {{ body_html }}
    </article>
  </div>
</div>
{% endblock %}{% endraw %}
