{% raw %}{% extends "base.html" %}
{% load static %}

{% block title %}Page Forbidden{% endblock %}

{% block content %}
	<div id="content" class="grid-container">
		<div class="grid-x grid-padding-x align-center">
			<div id="standard_page" class="medium-8 cell text-center">
	    		<img src="{% static 'img/403.png' %}" style="margin-bottom: 30px;">
	    		<a class="button" href="/" style="border-radius: 2px;">TAKE ME TO THE HOMEPAGE &nbsp;&#8594;</a>
	    	</div>
	  	</div>
	</div>
{% endblock %}{% endraw %}