{% raw %}<!doctype html>

<html class="no-js" lang="en" dir="ltr">
	<head>
    	<meta charset="utf-8">
    	<meta http-equiv="x-ua-compatible" content="ie=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<title>Site Under Maintenance</title>
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css">
  	</head>
  
  	<body>
    	<div class="grid-container">
      		<div class="grid-x grid-padding-x">
		        <div class="large-12 cell">
          			<center>
          				<img src="https://pbs.twimg.com/profile_images/431430088890916864/goZLpqVe_400x400.png" alt="site" title="site" style="margin-top: 80px; margin-bottom: 40px; border-radius: 100%;" width="300"/>
          				<h3>Site is Temporarily Down For Maintenance</h3>
          				<h5>We are performing scheduled maintenance. We will be back online shortly</h5>
          			</center>
        		</div>
      		</div>
    	</div>

    	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js"></script>
  	</body>
</html>{% endraw %}