{% raw %}{% extends "products/product_base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block content %}
    <div id="content" class="row">
            <h3>{{ self.title }}</h3>
            <h4 class="subheader">{{ self.subtitle }}</h4>
            {% include "products/includes/intro.html" with intro=self.intro only %}
            <hr> 
            <div class="medium-12 columns">
                <div class="people medium-up-4 small-up-1" data-equalizer>
                    {% for product in products %}
                        <div class="column">
                            <div class="callout secondary" data-equalizer-watch>
                                <a href="{% pageurl product %}">
                                    {% image product.image fill-1200x630 %}
                                    <center style="margin-top: 15px;">
                                        <h5><strong>{{ product.title}}</strong></h5>
                                        <h6><strong>{{ product.price}}</strong></h6>
                                    </center>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            
            <ul class="pagination text-center">
                  {% if products.has_previous %}
                      <li class="arrow">
                          <a href="?page={{ products.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">&laquo; Prev</a></li>
                  {% endif %}
                  <li class="unavailable">Page {{ products.number }} of {{ products.paginator.num_pages }}</li>
                  {% if products.has_next %}
                      <li class="arrow">
                          <a href="?page={{ products.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">Next &raquo;</a></li>
                  {% endif %}
            </ul>
    </div> 
{% endblock %}{% endraw %}
