{% raw %}
{% extends "products/product_base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block product_content %}
    <div class="row">

        <div class="medium-12 columns">
            {% include "utils/includes/social_share.html" %}
            <div class="medium-12 columns center">
            <h2>{{ self.title }}</h2> 
            </div>
            
            <div class="medium-10 columns" style="padding-top:10px;padding-bottom:10px;">
            {% if self.image %}
                {% image self.image fill-600x250 as photo %}
                <img src="{{ photo.url }}" width="{{ photo.width }}" height="{{ photo.height }}" alt="{{ photo.alt }}" class="img-thumbnail" style="float: left;" />
            {% endif %}
            </div>
            <div class="medium-2 columns" style="border:solid 1px;height:240px;text-align:center;">
                <h3 >Price</h3><br><br>
                
                {% if self.price %}
                    <h1 class="stat"><strong>{{ self.price }}</strong></h1>
                {% else %}
                {% endif %}
            </div>
        </div>
        <br><hr style="height: 10px;border: 0;box-shadow: 0 10px 10px -10px #8c8b8b inset;">
        <div class="medium-12 columns" style="margin-top: 15px;">
             <ul>                                    
                {% for tag in self.tags.all %}
                <li class="label" style="line-height:25px;"> {{ tag }}</li>
                {% endfor %}
            </ul>                                                
            {% if self.description %}
                <h5>Product Description</h5>
            {% endif %}
            {% include "products/includes/body.html" with body=self.description only %}
            <br>
            {% include "utils/includes/related_links.html" with related_links=self.related_links.all only %} 
        </div>
    </div>
{% endblock %}

{% endraw %}
