#PostgreSQL
PROD_DATABASE_URL=psql://{{cookiecutter.db_user}}:your_db_password@127.0.0.1:5432/{{cookiecutter.repo_name}}_db 

#General Settings
DJANGO_DEBUG=off
DJANGO_ALLOWED_HOST_NAME={{cookiecutter.production_host_name}}
DJANGO_SECRET_KEY=django_secret_key 


#EMAIL 
EMAIL_HOST='email_host'
EMAIL_FROM='support@chrisdev.com'
EMAIL_USER='email_user'
EMAIL_PASSWD='email_passwd'

{% if cookiecutter.use_opbeat == 'y' -%}
OPBEAT_ORGANIZATION_ID=
OPBEAT_APP_ID=
OPBEAT_SECRET_TOKEN=
{% endif %}
{% if cookiecutter.use_compressor == 'y' -%}
COMPRESS_ENABLED=
{% endif %}
