{% raw %}{% load static pages_tags wagtailcore_tags %}
{% load static wagtailcore_tags wagtailimages_tags wagtailembeds_tags %}
{% if carousel_items %}
<div class="sliderContainer fullWidth clearfix">
    <div id="full-width-slider" class="royalSlider heroSlider rsMinW">
    {% for carousel_item in carousel_items %}
        <div class="rsContent">
          {% if carousel.embed_url %}
              {# Embedded video - requires an embedly key to be stored in wagtaildemo/settings/local.py #}
              {{ carousel_item.embed_url|embed:1000 }}
          {% else %}
            {% image carousel_item.image width-1400 as carousel_imagedata %}
                <img class="rsImg" src="{{ carousel_imagedata.url }}" alt="{{ carousel_imagedata.alt }}"/>
           {% endif %} 
            {% if carousel_item.caption %}
            <div class="infoBlock infoBlockLeftBlack rsABlock hide-for-small" data-fade-effect="" data-move-offset="10" data-move-effect="bottom" data-speed="200">
                {{ carousel_item.caption|richtext }}
            </div>
            {% endif %}
        </div>
    {% endfor %}
    </div>
</div>
{% endif %}{% endraw %}
